*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    padding: 0;
    margin: 0;
    line-height: 1.4em;
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
h1 {
    margin: .67em 0;
    font-size: 2em
}
mark {
    color: #000;
    background: #ff0
}
small {
    font-size: 80%
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit
}
button {
    overflow: visible
}

button,
select {
    text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}
input {
    line-height: normal
}
input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}
input[type=search] {
    -webkit-appearance: textfield
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver
}
legend {
    padding: 0;
    border: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: 700
}
table {
    border-spacing: 0;
    border-collapse: collapse
}
td,
th {
    padding: 0
}


.flex{
    display: -webkit-flex;
	display: flex;
}
.flex-center{
    -webkit-align-items: center;
   align-items: center;
}
.flex-align-end{
    align-items: flex-end;
    -webkit-align-items: flex-end;
}
.flex-align-start{
    align-items: flex-start;
    -webkit-align-items: flex-start;
}
.flex-align-center{
    align-items: center;
    -webkit-align-items: center;
}
.flex-justify-end{
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.flex-row-reverse{
    flex-direction:row-reverse;
    -webkit-flex-direction:row-reverse;
}
.flex-space-around{
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-space-between{
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.color-red{
    color: #D51E36;
}
.color-gay{
    color: #414041 !important;
}
.color-gay01{
    color: #59595B;
}
.color-gay02{
    color: #221F1F;
}
.color-gay03{
    color: #808184;
}
.color-white{
    color: #fff;
}
.bg-transparent{
    background: transparent !important;
}
.style01{
    font-size: 17px;
    font-weight: bold;
}
.style02{
    font-size: 7px;
}
.style03{
    font-size: 10px;
}
.style04{
    font-size: 8px
}
.style05{
    font-size: 15px;
}
.style06{
    font-size: 12px;
}
.style07{
    font-size: 36px;
}
.style08{
    font-size: 20px;
}
.style09{
    font-size: 40px;
}
.text-right{
    text-align: right;
}
.border-bottom{
    border-bottom: 1px solid #D51E36;
}
.border-top{
    border-top: 1px solid #D51E36;
}
.inline-block{
    display: inline-block
}
.marg-right-20{
    margin-right: 20px;
}
.content-text{
    margin-top: 5px;
}
.thumb{
    width: 135px;
    height: 90px;
    overflow: hidden;
}
.thum-02{
    width: 140px;
    height: 80px;
    overflow: hidden;
}
.thum-03{
    width: 165px;
    height: 95px;
    padding-right: 5px
}
.thum-big{
    width: 235px;
    height: 140px;
    overflow: hidden;
}
.text-left{
    width: 190px;
}
.thumb img,.thum-02 img,.thum-big img,.thum-03 img{
    width: 100%;
    height: 100%;
}
.relative{
    position: relative;
    overflow: inherit;
}
.magin-bottom-5{
    margin-bottom: 5px;
}