@charset "utf-8";
/* CSS Document */
.color0{
	color: #fff;
}
.color1{
	color: #594b40;
}
.color2{
	color: #78a7af;
}
.color3{
	color: #dbdd22;
}
.color4{
	color: #594b40;
}
h1,h2,h3,h4,
.text01,
.text02,
.local{
	color: #594b40;
}
color-text01{
	color: #464646;
}
.menu a,
.money span,
footer p,
.footer-link a{
	color: #464646;
}
.btn-search01 span{
	color: #b7b7b7;
}
.btn-signup{
    color: #fff;
    background:  #594b40;
}
.number{
	background-color:  #594b40;
	color:  #dbdd22;
}
.search-title{
	color: #fff;
	background: #78a7af;
}
.left02{
    background-color:  #ffffff;
}
.menu-left a,
footer h4{
    color: #959595;
}
.list-style{
    background: #454373;
}
.current01 .list-style,
.menu-left a:hover .list-style{
    background: #66b57f;
}
.money{
    color:  #38a0a3;
}
.loading-bar{
    background-color:  #ffffff;
}
.loading-bar:before{
    background-color:  #9c8689;
}
.current03 h4{
    color:  rgba(156, 134, 137, 0.8);
}
.current03 .text02,
.current03 .money span{
    color: #000;
}
.current03 .loading-bar:before{
    background-color:  #dbdd22;
}
footer{
	background:  #f7f6f6;
}
/*
.money span{
    color:  #000000;
}*/
