@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i';
@charset "utf-8";
/* CSS Document */
*{
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
  	border: 0;
     -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
body,div,p,form,input,select,option,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,address{
	margin:0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	border: none;
}
body{
	font-family: Roboto;
}
img {
	border:none;
    padding: 0;
    margin: 0;
}
ul {
	list-style: none;
}
a{
    text-decoration: none;
	color: #000;
}
table {
border-collapse:collapse;
border-spacing:0;
}
/**********************Flex********************/
.flex{
	display: flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.flex-inline{
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
}
.flex-center {
	-webkit-justify-content: center; 
	justify-content:center;
}
.flex-between {
	-webkit-justify-content: space-between; 
	justify-content:space-between;
}
.flex-around {
	-webkit-justify-content: space-around; 
	justify-content: space-around;
}
.flex-end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.flex-vertical {
	-webkit-align-items: flex-end; 
	align-items:flex-end;
}
.flex-baseline{
    -webkit-align-items: baseline;
    align-items: baseline;
}
.inline-block{
	display: inline-block;
}
.clear{
	clear: both;
	display: block;
}
/**********************Text********************/
h1{
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	line-height: 70px;
}
h2{
	font-size: 1.1em;
	font-weight: bold;
}
h3{
	font-size: 1em;
}
h4{
	font-size: 1em;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}
h5{
	font-size: 0.8em;
}
p {
	font-size:1em;
}
.text-underline{
	text-decoration: underline;
}
/**********************Btn********************/
.btn {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
	width: 100%;
	padding: 15px 0px;
	text-align: center;
	border-radius: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:after {
 content: '';
 position: absolute;
 z-index: -1;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 transition: all 0.3s;
}
.btn-1 {
    border-radius: 10px;
    background: #62a6b9;
    color: #fff;
	width: 48%;
	height: 40px;
	padding-left: 50px;
	font-size: 12px;
}
.btn-1:before {
	font-family: 'FontAwesome';
	font-weight: normal;
 	color: #fff;
    content: "\f0c5";
    position: absolute;
    height: 100%;
	font-size: 1.4em;
    left: 0;
    top: 0;
    line-height: 40px;
    width: 40px;
	border-right: 2px solid rgba(255,255,255,0.5);
}
#mail{
	text-align: center;
}
.btn01{
	color: #fff;
	background: #3f628a;
}
.btn02{
	color: #fff;
	background: #d87039;
	margin: 15px 0 20px;
}
.btn03{
	padding: 10px 0px;
	background: #3f628a;
	border-radius: 0px;
	color: #fff;
	margin-top: 5px;
}
.btn03a{
	background: #467d9c;
}
/**********************Dropdown********************/
.dropdown {
    position: relative;
	margin: 10px 0px;
}
.dropdown-content {
    background-color: white;
    max-height: 0;
    overflow: hidden;
	width: 100%;
}
.dropdown-content.show {
    max-height: 1000px;  
	width: 100%;
	padding-bottom: 10px;
}
.drop1{
	width: 100%;
	background: #e6b5a6;
	padding: 10px 10px 10px 19%;
	text-align: left;
	position: relative;
/*	border: 1px solid #353662;*/
	border-radius: 7px;
	font-size: 14px;
	font-weight: bold;
	min-height: 65px;
}
.drop1:before{
	content:attr(data-number);
	position: absolute;
	left: 15px;
	top: 27%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #353662;
	color: #fff;
}
.drop1:after{
	font-family: 'FontAwesome';
	font-weight: normal;
	font-size: 30px;
 	color: #353662;
    content: "\f105";
	position: absolute;
	right: 10px;
	top: 27%;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.drop1.active:after {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.drop-content{
	
}
.drop-title{
	border-top: 1px solid #353662;
	border-bottom: 1px solid #353662;
	margin-top: 10px;
	padding: 5px 0 5px 45px;
	position: relative;
	min-height: 60px;
	margin-bottom: 20px;
}
.drop-title:before{
	content:attr(data-number);
	position: absolute;
	left: 5px;
	top: 10px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #353662;
	color: #fff;
}
/*************************************************/
/**********************Header********************/
/************************************************/

/*************************************************/
/**********************Content********************/
/************************************************/

/**********************Article********************/

/*************************************************/
/**********************Footer********************/
/************************************************/
