@charset "utf-8";

/* CSS Document */
/*************************************************/
/**********************Table********************/
/************************************************/
.rps-table th {
    display: none;
}
.rps-table td {
    display: block;
}
.rps-table td:before{
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
.rps-table td:first-child {
    padding-top: .5em;
}
.rps-table td:last-child {
    padding-bottom: .5em;
}
@media (min-width: 1000px) {
    .rps-table td:before {
        display: none;
    }
    .rps-table th,
    .rps-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rps-table th:first-child,
    .rps-table td:first-child {
        padding-left: 0;
    }
    .rps-table th:last-child,
    .rps-table td:last-child {
        padding-right: 0;
    }
}
/*************************************************/
/**********************Content********************/
/************************************************/
@media only screen and (max-width: 1000px){
	.list tr td:nth-child(7), 
	.list tr td:nth-child(8) {
		text-align: left;
	}
	.title-company{
		display: block;
	}
	.user-frm-table{
		
	}
	.add{
		width: 100%;
	}
	.main-content{
		padding: 0px 1em;
	}
}
/**********************768********************/
@media only screen and (max-width: 768px){
	.mb-menu{
		display: none;
	}
	header nav ul li a{
		padding: 10px 5px;
    	margin-right: 5px;
	}
	.time {
		margin: 1em 0px .5px;
	}
	.search-tab {
		margin-bottom: 1em;
	}
/*	============Fix===========*/
	.info-car{
		width: 100%;
		padding:1em;
		margin-top: 1em;
	}
	.btn-seat{
		
	}
	.so-xe{
		width: 100%;
	}
	.user-frm{
		width: 100%;
	}
    .popup{
        width: 100%;
    }
    .popup-top p{
        margin-right: 1em;
    }
    .popup-pick{
        width: 746px;
    }
    .popup-info{
        display: block;
    }
    .popup-info label{
        margin-top: 15px;
    }
    .popup-info input,
    .popup-info select{
        width: 100%;
        margin-top: 0px;
    }
    .box1{
        width: 100%;
        overflow: scroll;
    }
    .vhr{
        display: none;
    }
    .seat-pick{
        margin: 20px 0px;
    }
    .item-deposit input{
        width: 100% !important;
    }
}
@media only screen and (max-width: 650px){
    .m-seat .btn-seat{
        width: 50px!important;
    }
}
@media only screen and (max-width: 550px){
	.login{
		width: 100%;
		padding: 1em 2em;
	}
    .text-red{
        margin-left: 5px;
    }
    .popup-top p{
        margin-right: 1em;
    }
    .popup-top div:last-child p{
        margin-right: 0;
    }
	.login input{
		width: 90%;
	}
	.login-icon img{
		display: none;
	}
    .info-car>div{
        display: block;
    }
    .info-img{
        width: 100%;
        overflow: scroll;
    }
    .info-text label span{
        float: right;
        
    }
    .box{
        width: 415px;
        margin: 10px auto;
    }
    .seat{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 480px){
	.sub-menu{
		display: block;
		text-align: left;
	}
	.login{
		width: 100%;
		padding: 1em 0.5em;
	}
	.user-frm form input, .user-frm form select{
		width: 50%;
	}
	.report div{
		margin: 0px 20px;
	}
    .popup-top{
        display: block;
    }
    .note{
        display: block;
    }
    .note .btn2{
        width: 100%;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 320px){
	header nav ul li a {
		margin-right: 0px;
	}
	header ul li{
		margin-left: 15px;
	}
	.level{
		font-size: 10px;
	}
}