@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i';
@charset "utf-8";
/* CSS Document */
*{
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
  	border: 0;
     -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
body,div,p,form,input,select,option,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,address{
	margin:0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	border: none;
}
body{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background: url(../img/bg.png) no-repeat;
	background-size: cover;
}
img {
	border:none;
    padding: 0;
    margin: 0;
}
ul {
	list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover,
a:focus{
	text-decoration: none !Important;
}
table {
border-collapse:collapse;
border-spacing:0;
}
p {
font-size:1.2em;
}
.flex{
	display: flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.flex-inline{
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
}
.flex-center {
	-webkit-justify-content: center; 
	justify-content:center;
}
.flex-between {
	-webkit-justify-content: space-between; 
	justify-content:space-between;
}
.flex-around {
	-webkit-justify-content: space-around; 
	justify-content: space-around;
}
.flex-end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.flex-vertical {
	-webkit-align-items: flex-end; 
	align-items:flex-end;
}
.inline-block{
	display: inline-block;
}
.clear{
	clear: both;
	display: block;
}
body a{
	color: #000;
}
body a:hover{
	text-decoration: underline;
}
h1{
	color:  #475055;
	font-size: 36px;
	font-weight: bold;
	line-height: 32.065px;
}
h2{
	color:  #475055;
	font-size: 24px;
	font-weight: 700;
	line-height: 32.065px;
}
h6{
	text-align: center;
	margin: 10px;
}
#content{
	width: 100%;
	text-align: center;
	background: url(../img/bg1.png)no-repeat center 70%;
	height: 100%;
	position: relative;
}
p{
	font-size: 14px;
	font-weight: bold;
	color:  #475055;
}
input,
select{
	border-width: 1px;
	border-color:  #a9a9a9;
	border-style: solid;
	background-color:  #ffffff;
	width: 228px;
	padding: 2px 5px;
}
input:not(:first-child){
	margin-top: 10px;
}
button{
    background: transparent;
    cursor: pointer;
}
.w-10{
	display: inline-block;
	width: 10px;
}
/*
.scale{
	transform: scale(2,2);
    -moz-transform: scale(2,2);
    -webkit-transform: scale(2,2);
    -o-transform: scale(2,2);
    -ms-transform: scale(2,2);
}
*/
/*************************************************/
/**********************Header********************/
/************************************************/
header{
	border-bottom: 1px #a9a9a9 solid;
	background-color:  #e8fbff;
	padding: 25px 10px 10px;
	margin-bottom: 30px;
}
header a,
header p{
	font-size: 12px;
	font-weight: bold;
}
header ul li{
    margin-left: 25px;
}
header nav ul li{
    margin-left: 0px;
}
header nav ul li a{
    padding: 10px 10px 6px;
    border: 1px #e8fbff solid;
}
header nav ul li a:before{
	font-family: FontAwesome;
	content: '\f207';
	display: inline-block;
	font-size:20px;
	margin-right: 5px;
}
header nav ul li:nth-child(2) a:before{
	content: '\f007';
}
header nav ul li:nth-child(3) a:before{
	content: '\f201';
}
header nav ul li:nth-child(4) a:before{
	content: '\f073';
}
header nav ul li:nth-child(5) a:before{
	content: '\f013';
}
header nav ul li a:hover,
header nav ul li a:focus,
.current{
    border: 1px #a9a9a9 solid;
    background:rgba(255, 249, 157, 0.3);
}
/*************************************************/
/**********************Content********************/
/************************************************/
.main-content{
	min-height: 768px;
}
/*************************************************/
/**********************Login********************/
/************************************************/
.login-content{
	padding: 40px 20px 30px;
}
.login-logo{
	width: 169px;
	margin: 20px auto 30px;
}
.login-logo i{
	background: #090;
	width: 169px;
	height: 169px;
	display: table-cell;
	vertical-align: middle;
	border-radius: 50%;
	font-size: 120px;
	color: #fff;
}
.login{
	border-radius: 4px;
	border: 1px #a9a9a9 solid;
	background:  #b3ebf7;
	width: 509px;
	margin: auto;
	padding: 10px 45px 30px 15px;
	text-align: left;
}
.login-icon{
	margin-top: 10px;
}
.login-frm{
	margin-left: 10px;
}
.login-frm h2{
	margin-bottom: 10px;
}
.fg-pas{
	color:  #475055;
	font-size: 11px;
	font-weight: bold;
	line-height: 32px;
}
.bnt-login{
	border: 1px #a9a9a9 solid;
	background-color:  #2cc4e4;
	width: 70px;
	height: 100%;
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top: 30%;
}
.login-phone{
	margin-top: 20px;
}
/*************************************************/
/**********************Dang nhap********************/
/************************************************/
.time{
	margin: 30px 0px 10px;
}
.search-tab{
	margin-bottom: 30px;
}
.search-tab label i{
	background: #7dbebd;
	border-radius: 50%;
	color: #fff;
	width: 32px;
	height: 32px;
	line-height: 30px;
}
.search-tab input{
	border: none;
	background: transparent;
	width: 100px;
}
.so-xe{
	margin-top: 30px;
    width: 1024px;
    margin: 0 auto;
}
.so-xe a{
	border: 1px #a9a9a9 solid;
	background-color:  #e8fbff;
    display: inline-block;
	width: 170px;
	padding: 15px 0px;
    margin-top: 20px;
}
.so-xe a p{
	font-family: Arial;
	color:  #818181;
	font-size: 11px;
	font-weight: 400;
}
.so-xe a p span{
	display: block;
}
.add-car{
	background: #f9ffd5 !important;
	vertical-align: bottom;
	padding: 27px 0 !important;
}
/*************************************************/
/**********************Car********************/
/************************************************/
.info-car{
	background: #e8fbff;
	width: 750px;
	border: 1px #a9a9a9 solid;
	margin: auto;
	padding: 20px;
	margin-top: 40px;
}
.info-car h1{
	color: #044476;
	margin-bottom: 30px;
}
.info-text label{
	display: block;
	text-align: left;
}
.info-text label b,
.info-text label i{
	width: 100px;
	display: inline-block;
}
.info-text select{
	width: 140px;
	padding: 5px;
	border-radius: 5px;
	display: block;
}
.info-text select:not(:first-child){
	margin-top: 10px;
}
.info-text select span{
	text-align: right;
}
.seat{
	margin-bottom: 10px;
	background: #044476;
	border-radius: 5px;
	text-align: left;
	padding: 10px 10px 15px;
	color: #fff;
}
.seat hr{
	background: #fff;
	height: 1px;
	margin: 15px 0px 5px;
}
.seat>div>div{
	height: 15px;
}
.seat-state{
	color:  #ffffff;
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.seat-on,
.seat-below{
	display: inline-block;
	vertical-align: middle;
}
.btn-seat{
	width: 50px;
	height: 10px;
	background: #fff;
	border-radius: 4px;
}
.seat-plus .btn-seat{
	width: 70px;
	height: 15px;
}
.seat-plus >div>div{
	height: 20px;
}
.seat-plus hr{
	margin: 10px 0px;
}
.text-right{
	text-align: right;
}
.floor1{
	padding: 10px 20px;
}
.floor1 .btn-seat{
	width: 40px;
	height: 30px;
}
.floor1>div{
	height: 40px !Important;
}
/*************************BTN************************/
.btn2,
.btn3{
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	border: 1px #a9a9a9 solid;
	border-radius: 4px;
	background:  #82b172;
	padding: 5px 10px;
}
.btn2:not(:first-child){
	
}
.btn3{
	background:  #ff0000;
}
/*************************************************/
/**********************User-frm********************/
/************************************************/
.user-frm{
    border: 1px #a9a9a9 solid;
    background:#e8fbff;
    width: 756px;
    margin: 10px auto;
    padding: 40px 0px 20px;
}
.user-frm form label{
    width: 120px;
    display: inline-block;
    text-align: left;
}
.user-frm form div:last-child{
	margin-top: 20px;
	
}
.user-frm form input,
.user-frm form select{
    border-radius: 4px;
    background-color:  #ffffff;
    width: 250px;
}
.user-frm form select{
    margin-top: 10px;
}

.user-frm-table{
    max-width: 1024px;
    min-width: 300px;
    border: 1px solid #ddd;
    margin: 1em auto;
}
.rps-table {
    width: 100%;
}
.rps-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.rps-table tr:nth-child(1),
.rps-table tr:nth-child(2){
    background: #e8fbff;
}
.rps-table th {
    display: none;
    color: #044476;
}
.rps-table td {
    display: block;
}
.rps-table td:first-child {
    padding-top: .5em;
}
.rps-table td:last-child {
    padding-bottom: .5em;
}
.rps-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
    color: #044476;
}
.rps-table th,
.rps-table td {
    text-align: left;
    padding-left: 10px !important;
}
.rps-table tr td:nth-child(7),
.rps-table tr td:nth-child(8){
    text-align: center;
}
.rps-table input{
    width: 100px;
    padding: 2px 0px 2px 25px;
    margin-top: 0px;
}
.rps-table .search{
}
.rps-table .search th{
    position: relative;
}
.rps-table .search th label{
    position: absolute;
    left: 15px;
    top: 8px;
}
.fa-check-circle{
    color: #2ecc71;
}
.fa-times-circle{
    color: #e74c3c;
    vertical-align: -5px;
}
.fa-pencil-square-o{
    color: #000;
    vertical-align: -5px;
}
.fa-plus{
    vertical-align: middle;
    margin-right: 5px;
    color: #000;
}
.add{
    margin: auto;
    text-align: right;
    width: 1024px;
}
.add button{
    border: 1px #a9a9a9 solid;
    background: #f9ffd5;
    height: 59px;
    padding: 0px 15px;
    color:  #818181;
}
/*************************************************/
/**********************Report********************/
/************************************************/
.report{
	margin: 50px auto;
}
.report div{
	margin: 0px 40px;
}
.report div img{
	display: block;
	width: 64px;
	height: 64px;
	margin: auto;
}
/*************************************************/
/**********************Footer********************/
/************************************************/
footer{
	width: 100%;
}
footer p{
    color:  #475055;
	font-size: 11px;
	font-weight: bold;
}