@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
/*  Define color and format 
    Author: pennyauctionsoftware.com
*/

@charset "utf-8";
hr{height:1px; opacity:0.3}
.clear{clear:both}
.show{display:block!important}
.hide{display:none!important}
img{border:0; border:none}

/* background ----------------------------------- */
.Regular{}
.Gold{height: 24px; width:24px; display:block; background:url("/images/themes/icongold.png"); position:absolute; bottom:0; right:0}
.detail .auction_item .Gold{height: 24px; width:24px; display:block; background:url("/images/themes/icongold_detail.png"); position:absolute; top:-30px; left:-110px}
.Silver{height: 24px; width:24px; display:block; background:url("/images/themes/iconsilver.png");position:absolute; bottom:0; right:0}
.detail .auction_item .Silver{height: 24px; width:24px; display:block; background:url("/images/themes/iconsilve_detail.png"); position:absolute; top:-30px; left:-110px}
.Bronze{height: 24px; width:24px; display:block; background:url("/images/themes/iconbronze.png");position:absolute; bottom:0; right:0}
detail .auction_item .Bronze{height: 24px; width:24px; display:block; background:url("/images/themes/iconbronze_detail.png"); position:absolute; top:-30px; left:-110px}

.bgdot{background: url(/images/dot.jpg) center center repeat-x;}
.bg_blue{background:#49b8da!important;}
.bg_grey{background:#f5f5f5;}
.bg_grey1{background:#000;}
.bg_grey2{background:#efefef;}
.bg_grey_dark{/* background: url('http://www.upsieutoc.com/images/2016/06/14/Untitledasd-15444a.jpg') bottom center repeat-x; */}
.bgcam{background:#ee7843}
.bg_white{background:#fff}
.bg_green_1{background:#14bcaa}
.bg_blue_1{background:#49b8da}
.bg_green_2{background:#85bb23}
.bg_footerpage{background:#699bb3;
}
.bg_header_box{
    margin: 30px 40px 0px 40px;
    border-bottom: 2px solid #699bb3;
}
.bgsearch{background:#edf3f6;;}

/* background -----------------------------------End */

/* Color text ----------------------------------- */
.strike{text-decoration:line-through}
.italic{ font-style:italic;}
.bold{ font-weight:bold}
.underline{ text-decoration:underline}
.cursor{ cursor:pointer}
.header1 {font-family:Arial, Helvetica, sans-serif; font-size:28px;}
.header2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    display: block;
    text-transform: uppercase;
    margin-left:2%;
}
.header2.clo_white{color:#5d8ba4;}
.header3 {font-family:Arial, Helvetica, sans-serif; font-size:16px;}
.header4 {font-size:12px; font-weight:bold; margin-bottom:20px;}
.clo_green{color:#85bb23;}
.clo_blue{color:#49b8da;}
.clo_grey_dark{color:#757575;}
.clo_white{color:#fff;}
.clo_red{color:red;}
.clo_require{color:red}
.clo_header{color:#494949}
.clo_timeleft{color:Red}
/* Color text -----------------------------------End */

/* Color Link ----------------------------------- */
a.orange{color:#FF6600; text-decoration:none;}
a.orange:hover{color:#FF3300; }

/* Color Link -----------------------------------End */

/* Space config --------------------------------- */
.pad-top-10{padding-top:10px;}
.pad-top-15{padding-top:15px;}
.pad-top-20{padding-top:20px;}
.pad-top-25{padding-top:25px;}
.pad-top-30{padding-top:30px;}

.pad-left-10{padding-left:10px;}
.pad-left-15{padding-left:15px;}
.pad-left-20{padding-left:20px;}
.pad-left-25{padding-left:25px;}
.pad-left-30{padding-left:30px;}

.pad-right-10{padding-right:10px;}
.pad-right-15{padding-right:15px;}
.pad-right-20{padding-right:20px;}
.pad-right-25{padding-right:25px;}
.pad-right-30{padding-right:30px;}

.pad-bottom-10{padding-bottom:10px;}
.pad-bottom-15{padding-bottom:15px;}
.pad-bottom-20{padding-bottom:20px;}
.pad-bottom-25{padding-bottom:25px;}
.pad-bottom-30{padding-bottom:30px;}

.mar-top-5{margin-top:5px;}
.mar-top-10{margin-top:10px;}
.mar-top-15{margin-top:15px;}
.mar-top-20{margin-top:20px;}
.mar-top-25{margin-top:25px;}
.mar-top-30{margin-top:30px;}

.mar-left-10{margin-left:10px;}
.mar-left-15{margin-left:15px;}
.mar-left-20{margin-left:20px;}
.mar-left-25{margin-left:25px;}
.mar-left-30{margin-left:30px;}

.mar-right-10{margin-right:10px;}
.mar-right-15{margin-right:15px;}
.mar-right-20{margin-right:20px;}
.mar-right-25{margin-right:25px;}
.mar-right-30{margin-right:30px;}

.mar-bottom-10{margin-bottom:10px;}
.mar-bottom-15{margin-bottom:15px;}
.mar-bottom-20{margin-bottom:20px;}
.mar-bottom-25{margin-bottom:25px;}
.mar-bottom-30{margin-bottom:30px;}

/* Space config --------------------------------- End */

input {background-color: #FFFFFF;
       border: 1px solid #D3D3D3; 
       border-radius: inherit !important; 
       color: #4C4C4C; 
       font-size: 13px;
       line-height: 28px;
       padding: 0 7px;
       height:28px;}
select {background-color: #FFFFFF;
       border: 1px solid #D3D3D3; 
       border-radius: 4px 4px 4px 4px; 
       color: #4C4C4C; 
       font-size: 13px;
       line-height: 28px;
       padding: 0 7px;
       height:28px;}
input[type="image"] {padding: 0; border:0; height:auto;}
input[type="checkbox"] {padding: 0; border:0; height:auto;}

input.buttons {
    background-repeat: repeat-x;
    border: 1px solid;
    border-radius: 6px 6px 6px 6px;
    /*box-shadow: 0 1px 4px 0 #C0C0C0;*/
    font-weight: 600 !important;
    letter-spacing: -0.02em;
    outline: 0 none;
    padding: 0 15px;
}
input.buttons:hover {
    cursor: pointer;
    text-decoration: none;
}
input.buttons {
    background-color: #A5A5A5;
}
input.buttons.small {
    background-position: left top;
    border-radius: 4px 4px 4px 4px;
    font-size: 13px;
    height: 28px;
    line-height: normal;
}
input.buttons.small:hover {
    background-position: left -28px;
}
input.buttons.standard {
    background-position: left -56px;
    font-size: 16px;
    height: 34px;
    line-height: normal;
}
input.buttons.standard:hover {
    background-position: left -90px;
    font-size: 16px;
    height: 34px;
    line-height: normal;
}
input.buttons.medium {
    background-position: left -124px;
    font-size: 14px;
    height: 45px;
    line-height: normal;
padding:0!important;
}
input.buttons.medium:hover {
    background-position: left -168px;
    font-size: 14px;
    height: 45px;
    line-height: normal;
padding:0!important;
}
input.buttons.large {
    background-position: left -212px;
    font-size: 20px;
    height: 54px;
    line-height: normal;
}
input.buttons.large:hover {
    background-position: left -266px;
    font-size: 20px;
    height: 54px;
    line-height: normal;
}
input.buttons.orange,
input.buttons.blue {
    border-color: #ebecec;
    color: #5d8ba4;
    background: #ebecec;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 45%;
    position: absolute;
    left: -50%;
    opacity: 0;
}
input.buttons.orange:hover {
    border-color: #5d8ba4;
    background: #5d8ba4;
    color: #edf3f6;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

input.buttons.blue {
    background: #699bb3;
    border-color: #699bb3;
    color: #ebecec;
    position: relative;
    left: 75%;
}
input.buttons.blue:hover {
    background-color: #ebecec;
    border: #ebecec;
    color: #5d8ba4;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
input.buttons.green {
    background-color: #699bb3;
    background-image: none;
    border-color: #699bb3;
    color: #FFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
input.buttons.green:hover {
    background-color: #5d8ba4;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
input.buttons.grey {
    background-color: #8A8A8A;
    background-image:none;
    border-color: #9E9E9E;
    color: #FFFFFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
input.buttons.grey:hover {
    background-color: #A5A5A5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
input.buttons.white {
    background-color: #E2E2E2;
    background-image:none;
    border-color: #C7C7C7;
    color: #007FDD;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
input.buttons.white:hover {
    background-color: #FFFFFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
@-webkit-keyframes fade-out {
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}

@keyframes fade-out {
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}
.subbidno,
.buynow,
.extendsecond,
.autobid,
.chair {
  color:#FFF; 
  background:#699bb3; 
  border-radius:50%;
  font-weight:bold;
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.subbidno:before,
.extendsecond:before,
.buynow:before,
.autobid:before,
.chair:before {
  content:'';
  display:inline-block;
  box-sizing: border-box;
  position: absolute;
  border:#699bb3 solid 3px;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius:50%;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.buynow:after,
.autobid:after,
.chair:after{
    content:'\f07a';
    font-family: FontAwesome;
    display:inline-block;
    box-sizing: border-box;
    margin-right:3px;
}
.autobid:after{
    content:'\f021';
}
.chair:after{
    content:'\f1d6';
}
.subbidno:hover,
.subbidno:focus,
.buynow:hover,
.buynow:focus,
.extendsecond:hover,
.extendsecond:focus,
.autobid:hover,
.autobid:focus,
.chair:hover,
.chair:focus{
    background:#fff;
    color:#699bb3;
    -webkit-transition: 0.4s;
  transition: 0.4s;
}
.subbidno:hover:before, 
.subbidno:focus:before, 
.subbidno:active:before,
.extendsecond:hover:before, 
.extendsecond:focus:before, 
.extendsecond:active:before,
.buynow:hover:before, 
.buynow:focus:before, 
.buynow:active:before,
.autobid:hover:before, 
.autobid:focus:before, 
.autobid:active:before,
.chair:hover:before, 
.chair:focus:before, 
.chair:active:before {
  -webkit-animation-name: fade-out;
  animation-name: fade-out;
}



ul.menu_right{ 
    list-style:none;
    width: 100%; 
    padding:0; 
    margin:0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content:         space-around;
    -webkit-flex-wrap: wrap; 
    flex-wrap:         wrap;
}
ul.menu_right li{    
    border-bottom: dotted 1px #BFBFBF;
}
ul.menu_right li a{ color:#16698c; text-decoration:none; display:block; margin:5px 0;}
ul.menu_right li a:hover{ color:#ef6001;}


.notifications_icon{background: url("/images/themes/notification_icon.png")center top no-repeat;}
.biddinghistory_icon{background: url("/images/themes/history_icon.png")center top no-repeat;}
.won_icon{background: url("/images/themes/won_icon.png")center top no-repeat;}
.avatar_icon{background: url("/images/themes/avatar_icon.png")center top no-repeat;}
.auto_icon{background: url("/images/themes/auto_icon.png")center top no-repeat;}
.watch_icon{background: url("/images/themes/watchlist_icon.png")center top no-repeat;}
