/*MAIN CSS*/

$GREEN: #55a32a;
$LIGHT_GREEN: #f6fcf0;
$BROWN: #c7b19a;
$GRAY: #ebeaea;
$WHITE: #fff;
$BLUE: #00aeef;
$BLACK: #000000;
$RED: #ff0000;
$ORANGE: #CD5937;

$DARK_TEXT: #555555;
$LIGHT_TEXT: #919191;

@mixin transition() {
	-webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    -o-transition: all 350ms;
    transition: all 350ms;
}

body {
	color: $LIGHT_TEXT;
}

.red-text {
	color: $RED;
}

.dark-text {
	color: $DARK_TEXT;
}

.green-text {
	color: $GREEN;
}

.default-text {
	color: $LIGHT_TEXT;
}

.box-ratio {
	position: relative;
	width: 100%;

	&:before{
		content: "";
		display: block;
		padding-top: 100%;
	}

	.box-content {
		position:  absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

.green-btn {
	background-color: $GREEN !important; color: $WHITE !important; border-color: $GREEN !important;
}

.orange-btn {
	background-color: $ORANGE !important; color: $WHITE !important; border-color: $ORANGE !important;
}

.header-top {
	margin-bottom: 30px;

	.header-logo {

		>a {
			display: block; width: 100%; padding: 2px 0;
		}
	}

	.header-login {
		text-align: right;

		>a {
			display: block; width: 100%; padding: 6px 0; color: $LIGHT_TEXT;
		}
	}
}

.header-bottom {

	.header-bottom-col-1 {
		padding-right: 0;

		.header-left-menu {
			border: none; background-color: $GREEN; padding: 2px 0;

			.btn {
				background-color: transparent; color: $WHITE; border: none;	width: 100%; text-align: left;
			}
		}
	}

	.header-bottom-col-2 {
		padding-left: 0;

		.header-right-menu {

			.navbar {
				min-height: 0; border: none; background-color: $GRAY;
			}

			.navbar-brand {
				height: auto; padding-top: 8px; padding-bottom: 8px;
			}

			.navbar-nav {

				>li {

					>a {
						padding-top: 8px; padding-bottom: 8px; display: inline-block; vertical-align: middle; color: $LIGHT_TEXT;
					}

					&.active, &:hover, &:focus {

						>a {
							color: $DARK_TEXT;
						}
					}
				}
			}

			.menu-slash {
				height: 36px; width: auto; display: inline-block; vertical-align: middle;
			}
		}
	}
}

.products.list {

	.product {

		.grid {
			display: none;
		}

		.product-image {
			float: left; width: 60%; padding: 0 15px;
		}

		.product-content {
			float: left; width: 40%; padding: 0 15px;
		}

		.product-content-owner {
			color: $DARK_TEXT;

			a {
				color: $DARK_TEXT; font-size: 15px;
			}

			.owner-rating {
				display: block; padding-left: 30px; color: $GREEN; margin-top: -5px;

				>* {
					display: inline-block; vertical-align: middle; line-height: 1;
				}

				.owner-rating-numer {
					padding-left: 5px;
				}
			}
		}

		.product-name {
			color: $BROWN;

			h3 {
				font-size: 18px; margin-bottom: 5px; margin-top: 15px;

				a {
					color: $LIGHT_TEXT; display: block;
				}
			}
		}

		.product-excerpt {
			margin-top: 15px;
		}

		.product-read-more {

			a {
				color: $GREEN;
			}

			.fa-angle-up {
				display: none;
			}

			.fa-angle-down {
				display: inline-block; vertical-align: middle;
			}

			&.active {

				a {
					color: $BLUE;
				}

				.fa-angle-up {
					display: inline-block; vertical-align: middle;
				}

				.fa-angle-down {
					display: none;
				}
			}
		}

		.product-socials {
			margin-top: 15px;

			> a {
				display: inline-block; vertical-align: middle; margin: 0 2px; width: 24px; height: 24px; line-height: 24px; text-align: center; background-color: $BROWN; border-radius: 50%; color: $WHITE;
			}
		}

		.product-view-detail {
			margin-top: 15px;

			 a {
			 	color: $BROWN;
			 }
		}
	}
}

.products.grid {

	.product {
		width: 20%; float: left; margin-bottom: 20px; padding: 0 15px;

		.list {
			display: none;
		}

		a {
			color: $LIGHT_TEXT;
		}

		.product-image, .product-content {
			width: 100%; float: left; margin-bottom: 10px;
		}

		.product-content {

			.product-content-owner {
				font-size: 13px;
			}

			.product-name {

				h3 {
					font-size: 15px; margin-top: 0; margin-bottom: 5px;

					a {
						color: $DARK_TEXT; display: block;

						&:hover, &:focus {
							color: $GREEN;
						}
					}
				}
			}
		}

		.product-image {
			position: relative; overflow: hidden; max-height: 200px;

			.grid-popup {
				display: block; width: 100%; height: 100%; top: 100%; left: 0; position: absolute; background-color: rgba(85, 163, 42, 0.5); @include transition();

				.actions-center {
					position: absolute; top: 50%; left: 50%; margin-top: -15px; margin-left: -32px;

					> a {
						width: 30px; height: 30px; line-height: 30px; text-align: center; color: $WHITE; background-color: $BLACK; display: inline-block;
					}
				}

				.action-bottom {
					position: absolute; width: 100%; top: auto; left: 0; bottom: 0; background-color: rgba(255, 255, 255, 0.45);

					> a {
						display: block; text-align: right; color: $WHITE; padding: 8px;
					}
				}
			}

			&:hover, &:focus {

				.grid-popup {
					top: 0;
				}
			}
		}
	}

	.product-separate-line {
		display: none;

		&:first-child {
			display: inline;
		}
	}
}

.product-get-more {
	margin-top: 25px;

	a {
		text-transform: uppercase; color: $DARK_TEXT; text-align: center; background-color: $GRAY; display: block; width: 100%; padding: 7px 10px;
	}
}

.main-content-title {

	h2 {
		font-size: 24px; margin: 0;
	}
}

.main-content-excerpt {
	margin-top: 10px;
}

.home-view-type {

	a {
		color: $LIGHT_TEXT;
	}

	.fa {
		font-size: 18px; padding: 5px; border-radius: 2px; border: 1px solid $GRAY;
	}
}

.home-sidebar-left {

	.sidebar-nav {
		border: none; background-color: transparent; font-size: 13px; margin: 10px 0;

		&:first-child {
			margin-top: 0;
		}
	}

	.navbar-header {
		width: 100%;

		.navbar-brand {
			padding: 0; font-size: 12px; height: auto; margin-bottom: 5px;
		}
	}

	.navbar-collapse {
		padding: 0;

		.navbar-nav {

			li {

				&.need-bullet {
					list-style: circle inside none; display: list-item;
				}
			}

			> li {
				width: 100%; display: block;
			}

			a {
				padding: 3px 0;
			}

			.checkbox {
				margin: 2px 0; width: 100%;

				.remove-checkbox {
					float: right; padding-right: 15px; color: $DARK_TEXT; font-weight: bold;
				}
			}

			.remove-filters {
				padding: 3px 10px; background-color: $GRAY; display: inline-block;
			}

		}
	}
}

.footer-col {

	.footer-col-header {

		h3 {
			font-size: 14px; color: $DARK_TEXT; margin-top: 0;
		}
	}

	.footer-col-content {

		ul {
			margin: 0; padding: 0; list-style: none;

			a {
				display: block; padding: 2px 0; color: $LIGHT_TEXT;
			}
		}
	}

	.footer-email-form {

		.btn {
			background-color: $GREEN; color: $WHITE;
		}
	}

	.footer-socials {

		> a {
			display: inline-block; vertical-align: middle; margin-right: 3px; width: 35px; height: 35px; line-height: 35px; color: $WHITE; font-size: 18px; text-align: center; background-color: $DARK_TEXT;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.footer-customers {

		> a {
			display: inline-block; vertical-align: middle; margin-right: 10px;

			&:last-child {
				margin-right: 0;
			} 
		}
	}
}

.footer-site-info {

	> .img-responsive:first-child {
		display: inline-block; margin: auto; max-width: 120px; margin-bottom: 15px;
	}

	.text-dark {
		color: $DARK_TEXT; text-transform: uppercase;
	}

	.text-blue {
		color: $BLUE
	}
}

.product-detail-content {

	.product-detail-ask {

		.product-detail-ask-btn {
			display: block; width: 100%; text-align: center; color: $WHITE; background-color: $GREEN; margin: 20px 0;
		}
	}

	.product-detail-owner, .product-detail-user {

		.user {
			color: $DARK_TEXT; font-size: 15px; font-weight: 500;
		}

		.owner-rating {
			display: block; padding-left: 30px; color: $GREEN; margin-top: -5px;

			>* {
				display: inline-block; vertical-align: middle; line-height: 1;
			}

			.owner-rating-numer {
				padding-left: 5px;
			}
		}
	}

	.product-detail-user {

		.user-time {
			float: right; font-style: italic;
		}

		&.ask {
			border-top: 1px solid $GRAY; margin-top: 15px; padding-top: 15px;

			.product-detail-text {
				color: $GREEN;
			}
		}

		&.answer {
			padding: 8px; margin-left: 20px; background-color: $LIGHT_GREEN;
		}

		.login-to-comment {

			a {
				display: block; width: 100%; border: 1px solid $GRAY; color: $LIGHT_TEXT; background-color: $WHITE; padding: 5px;

				img {
					padding-right: 5px;
				}
			}
		}
	}
}

.product-detail-name {
	color: $BROWN;

	h3 {
		font-size: 18px; margin-bottom: 5px; margin-top: 15px;

		a {
			color: $LIGHT_TEXT; display: block;
		}
	}
}

.product-detail-excerpt {
	margin-top: 15px;
}

.product-detail-read-more {

	a {
		color: $GREEN;
	}

	.fa-angle-up {
		display: none;
	}

	.fa-angle-down {
		display: inline-block; vertical-align: middle;
	}

	&.active {

		a {
			color: $BLUE;
		}

		.fa-angle-up {
			display: inline-block; vertical-align: middle;
		}

		.fa-angle-down {
			display: none;
		}
	}
}

.product-detail-socials {
	margin-top: 15px;

	> a {
		display: inline-block; vertical-align: middle; margin: 0 2px; width: 24px; height: 24px; line-height: 24px; text-align: center; background-color: $BROWN; border-radius: 50%; color: $WHITE;
	}
}

.detail-main {

	.other-products {

		> h3 {
			font-size: 18px; margin-top: 0; margin-bottom: 5px;
		}
		
		> .other-product-row {
			padding: 0 10px;

			> .other-product-col {
				padding: 5px;
			}
		}

		.thumbnail {
			margin-bottom: 0;
		}
	}
}

.account-main {

	.accout-cover {
		max-height: 230px; overflow: hidden; position: relative;

		img {
			width: 100%; height: auto;
		}

		.change-cover {
			position: absolute; right: 15px; bottom: 15px; background-color: rgba(255, 255, 255, 0.75); color: $DARK_TEXT; border: none;
		}
	}

	.account-avatar {
		position: relative; width: 100%; float: left; margin-top: -125px;

		&:before {
			content: ""; display: block; padding-top: 100%;
		}

		.avatar {
			overflow: hidden; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border: 2px solid $WHITE; border-radius: 50%; background-repeat: no-repeat; background-size: cover; background-position: center;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(145,145,145,1);
			-moz-box-shadow: 0px 0px 5px 0px rgba(145,145,145,1);
			box-shadow: 0px 0px 5px 0px rgba(145,145,145,1);
		}

		.change-avatar {
			position: absolute; top: auto; left: 20px; right: 20px; bottom: 15px; background-color: rgba(255, 255, 255, 0.75); text-align: center; color: $DARK_TEXT; padding: 3px 5px;
		}
	}

	.account-nav {

		.navbar {
			border: none; background-color: transparent; min-height: 0; margin: 0; margin-left: -15px; margin-right: -15px;

			li {

				> a {
					padding: 5px 15px; border-bottom: 2px solid transparent;

					&:hover, &:focus {
						border-bottom-color: $GREEN; background-color: transparent;
					}
				}

				&.active {
					
					> a {
						border-bottom-color: $GREEN; background-color: transparent;
					}
				}
			}
		}
	}

	.account-socials {
		text-align: right;

		> a {
			display: inline-block; vertical-align: middle; margin: 0 2px; width: 24px; height: 24px; line-height: 24px; text-align: center; background-color: $BROWN; border-radius: 50%; color: $WHITE;
		}
	}

	.products {

		.product {
			width: 33.333333%;
		}

		.product-separate-line {
			display: none !important;
		}	
	}

	.account-title {

		h3 {
			font-size: 18px; margin-top: 0; margin-bottom: 15px;
		}
	}

	.account-actions {
		text-align: center;

		.btn {
			color: $LIGHT_TEXT; margin-bottom: 5px;
		}
	}

	.account-read-more {

		a {
			color: $GREEN;
		}

		.fa-angle-up {
			display: none;
		}

		.fa-angle-down {
			display: inline-block; vertical-align: middle;
		}

		&.active {

			a {
				color: $BLUE;
			}

			.fa-angle-up {
				display: inline-block; vertical-align: middle;
			}

			.fa-angle-down {
				display: none;
			}
		}
	}

	.account-user {

		.user {
			color: $DARK_TEXT; font-size: 15px; font-weight: 500;
		}

		.user-time {
			float: right; font-style: italic;
		}

		&.ask {
			border-top: 1px solid $GRAY; margin-top: 15px; padding-top: 15px;

			.account-text {
				color: $GREEN;
			}

			&:first-child {
				border-top: none !important;
			}
		}

		&.answer {
			padding: 8px; margin-left: 20px; background-color: $LIGHT_GREEN;
		}
	}

	.account-separate {
		margin-top: -8px;
	}
}

.forgot-popup {

	.modal-header {
		text-align: center; background-color: $GRAY; border: none;
	}

	.modal-title {
		color: $DARK_TEXT;
	}

	.modal-content {
		text-align: center;

		.input-group {
			display: block; margin: auto; margin-bottom: 20px; width: 100%;

			.form-control {
				max-width: 300px; display: inline-block; float: none;
			}

			.btn {
				background-color: $GREEN; border: none; color: $WHITE;
			}
		}
	}
}

.register-popup {

	.register-with {
		color: $DARK_TEXT;
	}

	.register-socials {

		> a {
			display: inline-block; vertical-align: middle; margin: 0 2px; width: 30px; height: 30px; line-height: 30px; text-align: center; background-color: $BROWN; border-radius: 50%; color: $WHITE;
		}
	}

	.green {
		color: $GREEN;
	}
}

.login-popup {

	.login-with {
		color: $DARK_TEXT;
	}

	.login-socials {

		> a {
			display: inline-block; vertical-align: middle; margin: 0 2px; width: 30px; height: 30px; line-height: 30px; text-align: center; background-color: $BROWN; border-radius: 50%; color: $WHITE;
		}
	}
	
	.green {
		color: $GREEN;
	}
}

.upload-main {

	.upload-page-title {

		h3 {
			margin-top: 0;
		}
	}

	.form-with-border {
		padding: 5px; border: 1px dashed $LIGHT_TEXT;

		.thumbnail {
			width: 120px; height: 120px; line-height: 120px; display: inline-block; vertical-align: top; text-align: center;

			span {
				display: inline-block; line-height: 1; vertical-align: middle;

				.fa {
					font-size: 20px; display: block;
				}
			}

			&.uploading {
				position: relative;

				.dim-background {
					position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 1; background-color: rgba(0, 0, 0, 0.55);
				}

				.progress {
					height: 8px; position: absolute; top: 50%; left: 8%; margin-top: -4px; width: 84%; z-index: 2;

					.progress-bar {
						line-height: 8px; background-color: $GREEN;
					}
				}
			}
		}
	}

	.upload-button-form-control {
		text-align: right;

		.upload-button {
			background-color: $GREEN; border: none; color: $WHITE; padding-left: 20px; padding-right: 20px;
		}
	}	
}

.upload-right-col {

	.upload-check {
		font-size: 30px; color: $DARK_TEXT;

		&.active {
			color: $GREEN;
		}

		.fa {
			vertical-align: top;
		}
	}

	ul {
		padding-left: 20px;
	}
}

.change-avatar-popup {

	.image-group {
		max-height: 250px; overflow-x: scroll; border: 1px solid $GRAY; padding: 6px 3px;

		a {
			display: inline-block; width: 33.333333%; padding: 0 3px;
		}
	}

	.user-photo {
		background-color: $GREEN; color: $WHITE;
	}

	.accout-change-avatar-row {
		display: table; table-layout: fixed;

		.accout-change-avatar-col {
			padding: 0 10px; width: 50%; display: table-cell; table-layout: fixed; vertical-align: top;

			&.right-col {
				position: relative; border: 1px solid $GRAY;

				.drag-drop-container {
					position: absolute; width: 80%; height: 80%; top: 10%; left: 10%; border: 1px dashed $LIGHT_TEXT;

					.drag-drop {
						display: table; table-layout: fixed; width: 100%; height: 100%; text-align: center;

						a {
							display: table-cell; table-layout: fixed; vertical-align: middle; color: $LIGHT_TEXT;

							.fa {
								display: block; font-size: 45px;
							}

							&:hover, &:focus {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}

.account-reviews {

	.account-review {

		.review-head {
			margin-bottom: 10px;

			.review-image, .review-name {
				display: inline-block; vertical-align: middle;
			}

			.review-image {
				margin-right: 10px;

				img {
					max-width: 55px; border-radius: 50%;
				}
			}

			.review-name {

				.review-ratting {
					 img {
					 	display: inline-block; vertical-align: middle; margin-right: 3px;
					 }
				}
			}
		}

		.review-meta-data {
			margin-bottom: 10px;
		}

		.review-excerpt {
			margin-bottom: 10px;

			.review-read-more {
				color: $GREEN; margin-top: -5px;
			}
		}

		.review-social-info {
			color: $LIGHT_TEXT; font-size: 11px;

			a {
				color: $LIGHT_TEXT;

				.fa {
					width: 25px; height: 25px; line-height: 25px; text-align: center; border: 1px solid $LIGHT_TEXT; border-radius: 50%;
				}
			}

			.date {
				margin-left: 10px;
			}
		}
	}
}

.paging-nav {

	.active {
		color: $WHITE; background-color: $DARK_TEXT;
	}

	.paging-nav-next {
		color: $WHITE; background-color: $GREEN;
	}
}

.profile-edit {

	.form-with-button {

		> * {
			display: inline-block; width: 89%; min-width: 200px; margin-right: 1%; vertical-align: middle;

			&.btn {
				white-space: nowrap; width: 10%; min-width: 55px; outline-left: 2px solid $WHITE; margin-right: 0;
			}
		}
	}
}

.profile-preview-post {

	.rating-star {

		> *  {
			display: inline-block; vertical-align: middle;
		}

		img {
			width: 30px; height: 30px;
		}

		span {
			margin-left: 15px;
		}
	}

	.required-term {
		padding: 5px; background-color: $GRAY;
	}

	.profile-preview-post-submit {
		text-align: right;

		.btn {
			background-color: $GREEN; color: $WHITE; text-align: center;
		}
	}
}

.account-sidebar-nav {

	.navbar {

		li {
			float: none; width: 100%;

			> a {
				padding: 7px 0 !important;
			}
		}
	}
	
}

.account-questions {

	.question-head {

		h4 {
			margin-top: 0;
		}
	}

	.account-question {

		.question-comment {

			.question-comment-image, .question-comment-comment {
				display: inline-block; vertical-align: top; width: 93%;
			}

			.question-comment-image {
				width: 5.5%; margin-right: 1.5%;

				img {
					border-radius: 50%;
				}
			}
		}
	}
}

.upload-step-3-done {
	background-color: $GREEN; color: $WHITE;

	&:hover, &:focus {
		background-color: $GREEN; color: $WHITE;
	}
}

.upload-step-3-images {

	.upload-step-3-image {

		width: 32%; margin: 0.666666%; display: inline-block; vertical-align: top; padding: 10px; padding-top: 0; background-color: $GRAY;
	}
}

.profile-ideabook {
	position: relative; margin-bottom: 30px; border: 1px solid $GRAY;

	&.new-profile-ideabook {
		border-color: transparent;
	}

	.content-center {
		display: table; table-layout: fixed; width: 100%; height: 100%; border: 1px dashed $LIGHT_TEXT;

		> a {
			display: table-cell; vertical-align: middle; text-align: center; color: $LIGHT_TEXT;

			.fa {
				font-size: 45px;
			}

			span {
				display: block;
			}

			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}

	.profile-ideabook-info {
		overflow: hidden; padding: 10px;

		span {
			white-space: nowrap;
		}
	}

	.profile-ideabook-image {
		position: relative; top: 0; left: 0; width: 100%; height: calc(100% - 60px); display: block;
		background-size: cover; background-position: center; background-repeat: no-repeat;
	}
}

.profile-ideabook-owner-gallery {

	.profile-ideabook-gallery-image {
		display: inline-block; width: 15%; margin: 0.833333%; vertical-align: middle;
	}
}

.profile-ideabook-images {

	.profile-ideabook-image {
		width: 18%; margin: 1%;
	}
}

.edit-project-thumbnail {
	max-width: 300px;

	&:hover, &:focus {
		text-decoration: none;
	}
}

.profile-edit-project-form-group {

	.form-control {
		width: calc(100% - 70px); display: inline-block; vertical-align: middle;
	}

	.btn {
		width: 60px; margin-left: 10px;
	}
}

.list-pro-main {

	.form-group-list-pro {
		
		label {
			padding: 0 5px;
		}
	}

	.list-pro-btn {
		background-color: $GREEN; color: $WHITE; margin-left: 10px;
	}
}

@media (max-width: 1199px) {
	.account-main {

	    .account-separate {
			margin-top: 0;
		}

		.account-avatar {
			margin-top: -100px;
		}
	}
}

@media (max-width: 1023px) {

	.list-pro-main {
	
		.form-group-list-pro {
			display:inline-block; margin-bottom: 10px;
		}

		.list-pro-btn {
			margin: auto;
		}
	}

	.products.grid {

		.product {
			width: 25%;
		}
	}

	.account-main {

		.products {

			.product {
	    		width: 33.333333%;
	    	}
	    }

	    .account-avatar {
			margin-top: -125px;
		}
	}
}

@media (max-width: 767px) {
	.upload-main-step-group-btn {

		.btn {
			margin-bottom: 10px; display: inline-block; vertical-align: top;
		}
	}

	.header {
		.header-top {
			text-align: center; margin-bottom: 15px;

			.header-logo {
				margin-bottom: 10px;
				 
				 img {
				 	display: inline-block; margin: auto;
				 }
			}

			.header-search {
				margin-bottom: 10px;
			}

			.header-login {
				text-align: center;
			}
		}

		.header-bottom {

			.header-bottom-col-1 {
				padding-right: 15px;

				.header-left-menu {
					margin-bottom: 10px;
				}
			}

			.header-bottom-col-2 {
				padding-left: 15px;
			}

			.navbar-brand {
				padding: 12px 15px !important;

				.fa-home {
					font-size: 25px;
				}
			}
		}
	}

	.home-main {

		.home-sidebar-left {

			.navbar-nav {
				margin: 7.5px 0; padding: 0 15px;
			}

			.navbar-header {

				.navbar-brand {
					padding: 15px; margin: 0;
				}
			}
		}
	}

	.products.list {

		.product {

			.product-image, .product-content {
				width: 100%;
			}
		}
	}

	.products.grid {

		.product {
			width: 50%;
		}
	}

	.account-main {

		.account-avatar {
			margin: 0; width: 175px; height: 175px; left: 50%; margin-left: -87.5px;


		}

		.account-separate {
			margin-top: 20px;
		}

		.account-socials {
			text-align: center; margin-bottom: 10px;
		}
	}

	.change-avatar-popup {

		.accout-change-avatar-row {
			display: block;

			.accout-change-avatar-col {
				width: 100%; display: block;

				&.right-col {
					min-height: 150px; border: none;
				}
			}
		}
	}

	.account-sidebar-nav {

		.navbar {

			li {
				float: none; width: 100%;

				> a {
					padding: 5px 15px !important;
				}
			}
		}
	}

	.profile-ideabook-owner-gallery {

		.profile-ideabook-gallery-image {
			width: 23%; margin: 1%;
		}
	}

	.profile-ideabook-images {

		.profile-ideabook-image {
			width: 48%; margin: 1%;
		}
	}
}