@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
/*========================================================
										Main variables
=========================================================*/
/*hover color*/
/*hover 2 color*/
/*color of content*/
/*color of border*/
/*========================================================
										Typography
=========================================================*/
/*color of input fields in contact form*/
/*========================================================
										Main layout styles
=========================================================*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  min-width: 300px;
  background: #fff;
  color: #1d1819;
  font: 12px/22px 'Open Sans', Arial, sans-serif;
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
* {
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border:none;
}
h1 {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 13px;
}
h1 img {
  max-width: inherit;
}
h2 {
  font: 48px/50px 'Open Sans', Arial, sans-serif;
  color: #161616;
  margin-top: 66px;
}
h3 {
  font: bold 30px/34px 'Open Sans', Arial, sans-serif;
  color: #7fb0a6;
  margin-top: 0;
  margin-bottom: -3px;
}
h4 {
  font: 18px/24px 'Open Sans', Arial, sans-serif;
  color: #fff;
  margin-top: 40px;
  text-transform: uppercase;
}
@font-face {
  font-family: 'Rockwell';
  src: url('../font/Rockwell.woff') format('woff'),
       url('../font/Rockwell.ttf') format('truetype'),
       url('../font/Rockwell.svg#Rockwell') format('svg');
  font-weight: normal;
  font-style: normal;
}
.flex{
  display: -webkit-flex;
  display: -mo-flex;
  display: -ms-flex;
  display: flex;
}
ul{
  list-style: none;
}
/*========================================================
										HEADER styles
=========================================================*/
.hr{
  
  height: 15px;
  display: block;
  background: #debc12;
  border-radius: 10px;
  margin: 20px auto;
  
}
.hr:nth-child(3){
  margin-top: 30px;
}
/* Main menu styles
========================================================*/
body{
  margin: 0px auto;
  background: url(../img/bg_main.jpg) no-repeat;
  background-position: center top;
}
#content{
  min-height: 500px;
  width: 1000px;
  background-color:  rgba(141, 207, 244, 0.75);
  border: solid 2px #bde6ff;
  border-radius: 20px;
  margin: 0px auto;
  padding: 20px 0px 30px 0px;
}
/* Login
========================================================*/
.login{
  background: url(../img/bg_login.png) no-repeat;
  margin-left: -3px;
  
}
.login img{
  width: auto;
  margin-left: 60px;
  margin-right: 30px;
  padding: 5px 0px;
  display: inline-block;
}
.login p{
  font-family: Rockwell;
  color:  #2f2f2f;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  display: inline-block;
  margin: 0px;
  vertical-align: 9px;
}
.login p span{
  font-size: 18px;
}
.main_login{
  -webkit-justify-content: space-between;
  justify-content:         space-between;
  font-family: Roboto;
}
a{
  text-decoration: none;
}
.main_login label{
  color:  #2f2f2f;
  display: block;
  text-align: left;
  margin-left: 45px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
}
.main_login input{
  display: inline-block;
  border:solid 1px #e6e6e6;
  background-color:  #fbfafa;
  padding: 10px;
}
.main_login  form{
  text-align: center;
}
.main_login button{
  background: inherit;
}
.form_coordinator{
  background: url(../img/bg_coordinator.png) no-repeat;
  height: 390px;
  padding-top: 60px;
}
.form_coordinator>p{
  color:  #314396;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}
.form_coordinator{
  width: 314px;
}
.form_coordinator input{
  width: 225px;
}
.form_coordinator button a.button{
  border: none;
  display: block;
  border-radius: 6px;
  border-bottom:  solid 3px #00355f; 
  background-color:  #01589d;
  width: 226px;
  padding: 8px;
  color:  #ffc60b;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-top: 15px;
}
.form_registration{
  background: url(../img/bg_registration.png) no-repeat;
  height: 580px;
  padding-top: 60px;
}
.form_registration p:nth-child(1), 
.form_login p{
  color:  #4a8c35;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}
.form_registration p:nth-child(2){
  color:  #9d9d9d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  }
.form_registration form{
  width: 370px;
}
.form_registration form label{
  padding-left: 5px;
}
.form_registration form input{
  width: 271px;
}
.capcha{
  height: 80px;
  width: 271px;
  margin-top: 10px;
  padding-top: 10px;
  display: inline-block;
  border:solid 1px #e6e6e6;
  background-color:  #fbfafa;
}
.capcha div,
.capcha b,
.capcha img{
  display: inline-block;
  clear: both;
  float: inherit;
  vertical-align: middle;
}
.capcha>div{
  margin-right: 60px;
}
.capcha div.check_capcha{
  background: #fff;
  width: 28px;
  height: 28px;
  border: 2px solid #c1c1c1;
}
.capcha div.check_capcha:hover{
  cursor: pointer;
}
.form_registration form button a.button , 
.form_login form button a.button{
  border: none;
  display: block;
  border-radius: 6px;
  background-color:  #6bd04e;
  width: 272px;
  padding: 8px;
  color:  rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  border-bottom:  solid 3px #4a8c35;
  margin-top: 15px; 
}
.form_login{
  background: url(../img/bg_fr_login.png) no-repeat;
  padding-top: 53px;
  margin-top: 7px;
}
.form_login form{
  width: 317px;
}
.form_login p{
  margin-bottom: 35px;
}
.form_login input{
  width: 225px;
}
.form_login form button a.button{
  width: 226px;
}
.form_coordinator button a.button:hover ,
.form_registration form button a.button:hover ,
.form_login form button a.button:hover,
.form_coordinator button a.button:focus ,
.form_registration form button a.button:focus ,
.form_login form button a.button:focus{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  border-top:  solid 3px #4a8c35;
  border-bottom:  none;
  opacity: .6
}
.form_coordinator button a.button:hover,
.form_coordinator button a.button:focus,
.fc_login_firsttime .right .main_login_firsttime form input[type=button]:hover,
.fc_login_firsttime .right .main_login_firsttime form input[type=button]:focus,
.fc_pledgesheetentry .search_tab input[type="button"]:hover,
.fc_pledgesheetentry .search_tab input[type="button"]:focus,
.fc_pledgesheetentry input[type="button"]:hover,
.fc_pledgesheetentry input[type="button"]:focus,
.fc_contact input[type=button]:hover,
.fc_contact input[type=button]:focus,
.ff_enterfundraising .button_add input[type=button]:hover,
.ff_enterfundraising .button_add input[type=button]:focus{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  border-top: solid 3px #00355f;
  border-bottom:  none;
}
.ff_monitor table tr td:nth-child(4) input[type="button"]:hover,
.ff_monitor table tr td:nth-child(4) input[type="button"]:focus,
.fc_pledgesheetentry.step3 a.back_teacher:hover,
.fc_pledgesheetentry.step3 a.back_teacher:focus,
.ff .button_navigation .button_back:hover, 
.ff .button_navigation .button_back:focus,
.ff .button_navigation .button_next:hover,
.ff .button_navigation .button_next:focus,
.ff .button_navigation .button_send_request a:hover,
.ff .button_navigation .button_send_request a:focus,
.ff_upload_main input[type="button"]:hover,
.ff_upload_main input[type="button"]:focus{
  opacity: .6
}
/* Home
========================================================*/
.home{
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-family: Rockwell;
}
.home_menu{
  background: url(../img/bg_home_menu.png) no-repeat;
  min-height: 515px;
  width: 250px;
  margin-left: 20px;
  padding: 0px 10px;
  display: inline-block;
  text-align: center;
}
.home_menu .logo{
  display: inline-block;
  padding-top: 10px;
}
.home_menu>ul{
  text-align: left;
  margin-top: 130px;
}
.home_menu>ul li{
  border-bottom: 1px solid #b2d3d1;
}
.home_menu>ul li:last-child{
  border-bottom: none;
}
.home_menu>ul li.active{
  background: url(../img/menu_actvie.png) no-repeat left center;
}
.home_menu>ul a{
  color:  #006d68;
  font-size: 18px;

  line-height: 30px;
  text-align: left;
  display: block;
  padding-left: 20px;
}
.home_menu>ul a:hover,
.home_menu>ul a:focus,
.home_menu>ul li.active a{
  color: #0172bc;
}
.home_slider{
  text-align: center;
  margin-right: 90px;
  margin-top: 30px;
}
.home_slider .box{
  color:  #000000;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  border-radius: 10px;
  border: solid 2px #ffffff;
  background-color:  #debc12;
  width: 313px;
  height: 44px;
  margin: 0px auto;
}
.home_slider .box1{
  border-radius: 10px;
  border: solid 2px  #ffffff;
  background-color:  #7cc623;
  width: 313px;
  height: 44px;
  color:  rgba(255, 255, 255, 0.9);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0px auto;
  margin-top: -15px;
}
.home_slider div a{
  margin-top: 4px;
  display: block;
  color: #fff;
}
.home_slider .slider{
  margin-top: 20px;
  padding: 3px;
  border-radius: 10px;
  background-color:  #ffffff;
  height: 290px;
}
.home_slider .slider iframe{
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
/* Fundraising
========================================================*/
.home_fundraising{
  border-radius: 10px;
  background-color:  #ffffff;
  width: 667px;
  margin-right: 20px;
  text-align: center;
  padding: 20px;
}
.home_fundraising p.title{
  color:  #0071bc;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  display: inline-block;
  margin-top:20px;
  margin-bottom: 20px;
}
.home_fundraising .main_text{
  text-align: left;
}
.home_fundraising .main_text .first_text,
.home_fundraising .main_text .second_text{
  font-size: 18px;
  color: #605e5e;
  font-weight: bold;
 
}
.home_fundraising .main_text .first_text{
  text-shadow: 0px 3px 4px #666;
}
.home_fundraising .main_text>p{
  display: inline-block;
  margin-bottom: 15px;
}
.main_text>ul{
  display: block;
  margin-left: 50px;
}
/* Mail
========================================================*/
.mail{
  margin-bottom: -30px;
}
.mail .header{
  height: 70px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-family: Rockwell;
}
.mail .header .left{
  background: url(../img/mail_logo.png) no-repeat;
  width: 300px;
  height: inherit;
  margin-left: -4px;
}
.mail .header .left img{
  width: 100px;
  display: block;
  margin: 7px auto;
}
.mail .header .right{
  background: url(../img/bg_mail.png) no-repeat;
  width: 620px;
  height: inherit;
  margin-right: -4px;
}
.mail .header .right img, .mail .header .right p{
  display: inline-block;
}
.mail .header .right img{
  margin: 6px 25px 0px 60px;
}
.mail .header .right p{
  color:  #2f2f2f;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  vertical-align: text-bottom;
}
.mail .header .right p span{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.mail .main{
  margin: 35px 25px 25px 10px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.mail .main .left,
.bottom_mail2{
  border: solid 3px #fff;
  background-color: #f5c92b;
  width: 280px;
  height: 410px;
  padding: 25px;
}
.mail .main .left img{
  width: 100%;
  margin-bottom: 10px;
}
.mail .main .left p{
  font-family: Roboto;
  color:  #000000;
  font-size: 18px;
  font-weight: 400;
}
.mail .main .right,
.home .right{
  border-radius: 10px;
  background-color:  #ffffff;
  width: 648px;
  padding: 30px 15px 40px 30px;
}
.mail .main .right .top,
.mail .main .right .bottom{
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.mail .main .right .top p{
  font-family: Roboto;
  color:  #717171;
  font-size: 12px;
  font-weight: 400;
}
.mail .main .right .top img{
  width: 147px;
  margin-left: 20px;
}
.mail .main .right .bottom {
  margin-top: 15px;
}
.mail .main .right .bottom .main_replay{
  width: 420px;
}
.mail .main .right .bottom .main_replay .replay{
  background-color:  #ffffff;
  border: 1px #0071bc solid;
  border-top: 40px #0071bc solid;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color:  #717171;
  padding: 15px 20px;
}
.mail .main .right .bottom .main_replay .replay p{
  font-size: 24px;
  font-weight: 400;
  line-height: 2em;
}
.mail .main .right .bottom .main_replay .replay input[type=checkbox]{
  width: 35px;
  height: 25px;
  display: inline-block;
  vertical-align: bottom;
  
}
.mail .main .right .bottom .main_replay .replay a img{
  display: inline-block;
  vertical-align: middle;
  margin: 15px 0px 20px 10px;
}
.mail .main .right .bottom .main_replay .replay .count{
  margin-bottom: 20px;
  position: relative;
}
.mail .main .right .bottom .main_replay .replay .count p{
  display: inline-block;
}
.mail .main .right .bottom .main_replay .replay .count img{
  width: 130px;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 40px;
}
.mail .main .right .bottom .main_replay .replay .count>input[type=text]{
  width: 60px;
  height: 25px;
  position: absolute;
  right: 56px;
  top: 10px;
}
.mail .main .right .bottom .main_replay .button,
.button_returnoledge a{
  display: block;
  margin: 25px auto 0px auto;
  border-radius: 10px;
  border: solid 2px #ffffff;
  background-color: #7cc623;
  width: 161px;
  height: 44px;
  font-family: Rockwell;
  color:  #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 1.2%;
  text-align: center;
}
.mail .main .right .bottom .main_replay img{
  display: block;
  width: 197px;
  margin: 0px auto;
}
.mail .main .right .bottom .main_replay>p{
  color:  #1c1b1b;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}
.mail .main .right .bottom .salary{
  background:  #0071bc;
  width: 147px;
  height: 300px;
  text-align: center;
  padding-top: 15px;
}
.mail .main .right .bottom .salary ul{
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  text-align: left;
}
.mail .main .right .bottom .salary ul>li>a{
  color:  #ffffff;
}
.mail .main .right .bottom .salary>p{
  font-size: 12px;
  color: #000;
  font-weight: bold;
  text-align: left;
  margin-top: 40px;
  line-height: 1.2em;
}
/* Mail 2
========================================================*/
.bottom_mail2{
  display: block;
  height: inherit;
  margin-top: 25px;
  padding:10px;
}
.bottom_mail2 p{
  color:  #df0023;
  font-size: 18px;
  font-weight: 700;
}
.bottom_mail2 .button{
  display: block;
  border-radius: 10px;
  border: solid 2px #ffffff;
  background-color:  #01589d;
  height: 44px;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding-top: 5px;
  margin-top: 20px;
}
.bottom_mail2 img{
  width: 100%;
}
.main_mail2{
  width: 445px;
  font-family: Roboto;
  font-size: 12px;
}
.main_mail2 input[type=radio]{
  vertical-align: middle;
  margin-right: 5px;
}
.main_mail2 input[type=radio]:nth-child(3){
  margin: 30px 5px 10px 0px;
  vertical-align: sub;
}
.main_mail2>form{
  margin-left: 20px;
}
.main_mail2 form>p{
  color:  #717171;
  font-size: 18px;
  display: inline-block;
  font-weight: 700;
  margin: 5px auto 10px auto;
}
.main_mail2 form table tr input{
  border-width: 1px;
  border-color:  #e6e6e6;
  border-style: solid;
  background-color:  #fbfafa;
  width: 133px;
  height: 35px;
  padding-left: 5px;
  margin: 2px;
}
.main_mail2 .congratulations{
  border-top: solid 3px #f5c92b;
  width: 440px;
  padding: 5px;
  line-height: 1.2em;
  color:  #717171;
}
.main_mail2 .congratulations>p{
  display: block;
  margin-bottom: 15px;
}
.main_mail2 .congratulations form input[type=text]{
  border-width: 1px;
  border-color:  #e6e6e6;
  border-style: solid;
  background-color:  #fbfafa;
  width: 170px;
  height: 35px;
  padding: 5px;
  font-size: 12px;
  display: inline-block;
}
.main_mail2 .congratulations form>span{
  margin: 0px 15px 0px 10px;
}
.main_mail2 .congratulations form>div{
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

.main_mail2 .congratulations form>div>input[type=checkbox]{
  width: 15px;
  height: 15px;
  float: left;
  margin-top: 10px;
}
.main_mail2 .congratulations form>div>p{
  display: block;
  float: right;
  width: 170px;
}
.main_mail2 .congratulations form textarea{
  border: 1px #e6e6e6 solid;
  background-color:  #fbfafa;
  padding: 10px 5px;
  width: 100%;
  height: 65px;
  margin: 20px auto;
}
.main_mail2 .congratulations form .border_button{
  width: 100%;
  text-align: center;
}
.main_mail2 .congratulations form .border_button a.button{
  border-radius: 10px;
  display: block;
  text-align: center;
  border: solid 2px #ffffff;
  background-color:  #7cc623;
  margin: 0px auto;
  width: 161px;
  height: 44px;
  font-family: Rockwell;
  color:  #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 5px;
}
/* Mail 3
========================================================*/
table.mail3{
  text-align: left;
  width: 100%;
}
table.mail3 input[type=text]{
  width:60px;
  height: 35px;
  background:#eef2f5;
  padding-left: 5px;
}
table.mail3 tr td:first-child input[type=text]{
  width: 180px;
}
.button_returnoledge{
  float: right;
}
.button_returnoledge a{
  width: 310px;
}
.mail .main .right .bottom .main_replay .replay.mail3 p{
  line-height: 1.2em;
}
/* FF - Preview
========================================================*/
.ff_menu{

}
.ff_menu ul li{

}
.ff_menu ul li a{
  display: block;
  background-color:  rgba(255, 255, 255, 0.3);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.47);
  width: 282px;
  font-family: Rockwell;
  color:  #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 3px;
  padding-left: 10px;
  border-left: solid 3px #fff;
}
.ff_menu ul li a:hover,
.ff_menu ul li a:focus{
  background-color:  rgba(255, 255, 255, 0.6);
}
.ff_menu ul li a.active{
  background-color:  #98ce80;
  color: #fff;
}
.ff{
  padding-right: 30px !important;
  padding-bottom: 0px !important;
}
.ff p{
  font-family: Roboto;
  color:  #717171;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2em;
}
.ff .ff_title{
  font-family: Rockwell;
  color:  #0071bc;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.ff .ff_preview_main{
  border: 4px #3fbcef solid;
  background-color:  #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.48);
  margin-top: 10px;
  padding-bottom: 90px;
  background: url(../img/bg_ff_preview_main.png) no-repeat bottom;
}
.ff .ff_preview_main .ff_preview_top{
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: url(../img/bg_ff_preview_top.jpg) no-repeat top center;
  padding: 30px 0px 0px 20px;
}
.ff .ff_preview_main .ff_preview_top img:first-child{
  width: 110px;
  height: 100%;
}
.ff .ff_preview_main .ff_preview_top img:last-child{
  width: 75px;
  height: 100%;
  margin: 35px 20px;
}
.ff .ff_preview_main .greeting{
  font-size: 14px;
}
.ff .ff_preview_main p{
  margin: 15px 10px 15px 20px;
  
}
.ff .ff_preview_main .button_mypledgepage{
  text-align: center;
}
.ff .ff_preview_main .button_mypledgepage>a{
  border-radius: 10px;
  display: block;
  border: solid 2px #ffffff;
  background-color:  #debc12;
  width: 313px;
  height: 44px;
  font-family: Rockwell;
  color:  #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 5px;
  margin: 40px auto 0px;
}
.ff .button_navigation{
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 30px;
}
.ff .button_navigation a{
  display: block;
  border-radius: 10px;
  border: solid 2px #ffffff;
  background-color:  #7cc623;
  height: 44px;
  font-family: Rockwell;
  color:  #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding-top: 5px;
}
.ff .button_navigation img{
  width: 100%;
}
.ff .button_navigation .button_back,
.ff .button_navigation .button_next{
  width: 153px;
  text-align: center;
}
.ff .button_navigation .button_send_request a{
  font-size: 20px;
}
/* FF - Upload Photo
========================================================*/
.ff_upload_main{
  margin-top: 25px;
  text-align: center;
  margin-bottom: -25px;
}
.ff_upload_main input[type=file]{
  border-width: 1px;
  border-color:  #e6e6e6;
  border-style: solid;
  background-color:  #fbfafa;
  width: 350px;
  padding: 8px;
}
.ff_upload_main input[type="button"]{
  border-radius: 6px;
  background-color:  #01589d;
  width: 81px;
  font-family: Roboto;
  color:  #ffc60b;
  font-size: 18px;
  font-weight: 300;
  height: 38px;
  border-bottom: solid 3px #00355f;
}
.ff_upload_main input[type="button"]:hover{
  cursor: pointer;
}
.ff_upload_main div.loadding_bar{
  border-radius: 6px;
  display: inline-block;
  position: relative;
  z-index: 1;
  border: 1px #e6e6e6 solid;
  background-color:  #ffffff;
  width: 433px;
  height: 15px;
  margin: 12px auto 22px auto;
}
.ff_upload_main div.loadding_bar:after{
  content: "";
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  background-color:  #00a8ec;
  position: absolute;
  display: block;
  width: 5%;
  height: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: -1;
}
.ff_upload_main div.loadding_bar:hover:after {
  width: 70%;
}
/* FF - Upload Photo
========================================================*/
.ff_edit_main{

}
.ff_edit_main table tr td{
  vertical-align: baseline;
  color:  #000000;
  font-size: 18px;
  font-weight:400;
  text-align: left;
}
.ff_edit_main table tr td:last-child{
  color:  #717171;
  display: block;
  margin-left: 60px;
}
/* FF - Post FB
========================================================*/
.ff_post_fb{
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 50px;
}
.ff_post_fb .post_fb_left{
  width: 300px;
}
.ff_post_fb .post_fb_right{
  width: 270px;
}
/* FF - Enterfundraising
========================================================*/
.ff_enterfundraising{
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 30px;
}
.ff_enterfundraising input[type=text]{
  border: 1px #e6e6e6 solid;
  background-color:  #fbfafa;
  width: 250px;
  padding-left: 5px;
  height: 35px;
}
.style_select{
    border-width: 1px #e6e6e6 solid;
    width: 250px;
    border-radius: 3px;
    overflow: hidden;
    background:url("../img/arrow_drop.png")no-repeat 215px 50%;
    background-color:  #fbfafa;
}
.style_select:focus{
  outline: none;
}
.style_select select{
  border: 1px #e6e6e6 solid;
  width: 100%;
  padding-left: 5px;
  height: 35px;
  background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
/* FF - Monitor
========================================================*/
.ff_monitor{
  margin-top: 20px;
}
.ff_monitor table tr th{
  text-align: left;
}
.ff_monitor table tr td:first-child{
  margin-left: inherit;
}
.ff_monitor table tr td input[type="text"]{
  border: 1px #e6e6e6 solid;
  background-color:  #fbfafa;
  width: 125px;
  padding-left: 5px;
  height: 35px;
}
.ff_monitor table tr td .style_select{
  width: 155px;
  background:url("../img/arrow_drop.png")no-repeat 120px 50%;
}
.ff_monitor table tr td:nth-child(3) .style_select{
  width: 100px;
  background:url("../img/arrow_drop.png")no-repeat 65px 50%;
}
.ff_monitor table tr td:nth-child(4) input[type="text"]{
  width: 100px;
}
.ff_monitor table tr td:nth-child(4) input[type="button"],
.fc_pledgesheetentry input[type="button"],
.fc_login_firsttime .right .main_login_firsttime form input[type=button],
.ff_enterfundraising .button_add input[type=button],
.fc_contact input[type=button]{
  border-radius: 6px;
  background-color:  #01589d;
  width: 72px;
  height: 38px;
  border-bottom: solid 3px #00355f; 
  color:  #ffc60b;
  font-size: 18px;
  font-family: Roboto;
  cursor: pointer;
}
.ff_monitor_bottom{
  border-radius: 10px;
  background-color:  #e4f7f5;
  margin: 0px 30px 30px 10px;
  padding: 50px 5px 20px 30px;
}
.ff_monitor_bottom>table{
  width: 100%;
  text-align: left;
}
.ff_monitor_bottom>table tr th{
  text-decoration: underline;
}
.ff_monitor_bottom>table tr:last-child{
  text-align: center;
  font-weight: bold;
}
/* FF - Enterfundraising
========================================================*/
.ff_enterfamilyfriends{
  margin-top: 30px;
}
.ff_enterfamilyfriends table{
  width: 100%;
  text-align: left;
}
.ff_enterfamilyfriends table input{
  width: 100%;
  border: 1px #e6e6e6 solid;
  background-color:  #fbfafa;
  height: 35px;
  padding-left: 5px;
}
.ff_enterfamilyfriends table tr:last-child td:last-child{
  color:  #de9d12;
  font-size: 12px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-left: 20px;
}
.ff_enterfamilyfriends table tr:last-child td:last-child input[type=button]{
  display: inline-block;
  width: 22px;
  height: 20px;
  padding-left: inherit;
  border: none;
  background: url(../img/button_add.png) no-repeat;
  vertical-align: middle;
}
/* FC - Menu
========================================================*/
.fc_menu{
  background: url(../img/bg_coordinator.png) no-repeat center top;
  background-size: contain;
  width: 300px;
  margin-left: -5px;
  margin-top: -35px;
  padding: 0px 35px;
  font-family: Rockwell;
}
.fc_menu ul{
  margin-top: 60px;
}
.fc_menu>ul li:last-child{
  border-bottom:1px solid #b2d3d1;
}
/* FC - Report
========================================================*/
.fc_report,
.fc_downloadform{
  margin-top: 50px;
  color:  #717171;
  font-size: 18px;
}
.fc_downloadform a,
.fc_report>div a{
  color: #717171;
}
.fc_report>div a{
  font-size: 18px;/
  font-weight: 400;
  display: inline-block;
}
.fc_report>div img{
  width: 32px;
  margin: 0px 50px 15px 20px;
  vertical-align: top;
}
/* FC - Reminder
========================================================*/
.fc_reminder{
  margin-top: 30px;
}
.fc_reminder a{
  color: #000;
  display: block;
}
.fc_reminder .send_request{
  display: block;
}
.fc_reminder .send_request input[type=checkbox]{
  vertical-align: middle;
  margin-right: 5px;
}
.fc_reminder .reminder{
  width: 100%;
  margin-top: 15px;
}
.fc_reminder .reminder .calendar{
  width: 290px;
  display: inline-block;
  margin-right: 15px;
  border-bottom: 5px solid #68a579;
}
.fc_reminder .reminder .calendar table{
  width: 100%;
  text-align: center;
  border-collapse: collapse; 
}
.fc_reminder .reminder .calendar table tr th{
  background:#69a776;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
}
.fc_reminder .reminder .calendar table tr th a{
  color: #fff;
}
.fc_reminder .reminder .calendar table tr.things th{
  background:#99ce80;
  font-weight: normal;
}
.fc_reminder .reminder .calendar table tr td{
  background:#ebebeb;
  border: 1px solid #fff;
  height: 35px;
}
.fc_reminder .reminder .calendar table tr td.active{
  background: #cbcbcb;
}
.fc_reminder .reminder .calendar table tr td.other_month a{
  color: #999;
}
.fc_reminder .reminder .calendar table tr td:hover{
  background: #ccc;
}
.fc_reminder .reminder .calendar table tr td:first-child{
  border-left: none;
}

.fc_reminder .reminder .fc_reminder_text{
  width: 275px;
  display: inline-block;
  vertical-align: top;
}
/* FC - DownLoadForm
========================================================*/
.fc_downloadform table tr td a{
  display: block;
  margin-right: 30px;
}
/* FC - Dash Board
========================================================*/
.fc_dashboard{
  margin-top: 30px;
  border-bottom: 25px solid #2B6CA3; 
}
.fc_dashboard a{
  color: #000;
}
.fc_dashboard table{
  width: 100%;
  text-align: left;
  border-collapse: collapse; 
}
.fc_dashboard table tr th{
  background: #CCCCCC;
  padding-left: 10px;
  height: 30px;
  border: 1px solid #fff;
}
.fc_dashboard table tr th:first-child{
  border-left: none;
}
.fc_dashboard table tr th>a{
  height: 9px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}
.fc_dashboard table tr th>div{
  display: inline-block;
  float: right;
  margin-right: 5px;
}
.fc_dashboard table tr th>div>a{
  display: block;
  height: 9px;
  margin-top: 1px;
}
.fc_dashboard table tr{
  background: #BAE9FF;
}
.fc_dashboard table tr.pear{
  background: #97DEFF;
}
.fc_dashboard table tr td{
  padding-left: 10px;
  height: 30px;
  border: 1px solid #fff;
}
.fc_dashboard table tr td:first-child{
  border-left: none;
}
.fc_dashboard table tr:last-child td{
  border-bottom: none;
}
/* FC - Pledge Sheet Entry
========================================================*/
.fc_pledgesheetentry{
  width: 100%;
  font-family: Roboto;
  color:  #717171;
  font-size: 14px
}
.fc_pledgesheetentry .search_tab{
  padding: 5px 10px;
  margin: 25px auto 35px auto;
  background: #debc12;
  border-radius: 6px;
}
.fc_pledgesheetentry .search_tab img{
  width: 64px;
  vertical-align: middle;
}
.fc_pledgesheetentry .search_tab span{
  font-family: Rockwell;
  color:  rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 700;
  width: 90px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.fc_pledgesheetentry .search_tab input[type="text"]{
  border: 1px #e6e6e6 solid;
  background-color:  #fbfafa;
  width: 260px;
  height: 35px;
  vertical-align: middle;
  margin: 0px 20px;
  padding-left: 5px;
}
.fc_pledgesheetentry .search_tab input[type="button"]{
  width: inherit;
  padding: 0px 20px;
  vertical-align: middle;
}
.fc_pledgesheetentry .info{
  margin-left: 50px;
  width: 400px;
}
.fc_pledgesheetentry .info table{
  width: 100%;
}
.fc_pledgesheetentry .info table tr:first-child td:first-child{
  font-family: Roboto;
  color:  #717171;
  font-size: 24px;
  font-weight: 400;
}
/* FC - Pledge Sheet Entry - Step 2
========================================================*/
.fc_pledgesheetentry.step2 .search_tab{
  padding: 5px 5px;
  margin-bottom: 15px;
}
.fc_pledgesheetentry.step2 .search_tab>img,
.fc_pledgesheetentry.step3 .search_tab:first-child img{
  width: 34px;
}
.fc_pledgesheetentry.step2 .search_tab>span,
.fc_pledgesheetentry.step3 .search_tab:first-child span{
  width: inherit;
}
.fc_pledgesheetentry a.back_teacher{
  display: inline-block;
  color:  rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-radius: 6px;
  background-color:  #006d68;
  width: 147px;
  padding: 2px 5px;
  float: right;
  vertical-align: middle;
}
.fc_pledgesheetentry.step2 input[type=text]{
  border: 1px  #e6e6e6 solid;
  background-color:  #fbfafa;
  width: 240px;
  height: 35px;
  padding-left: 5px;
}
.fc_pledgesheetentry.step2 table{
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.fc_pledgesheetentry.step2 table a{
  color: #717171;
}
.fc_pledgesheetentry.step2 .info{
  margin-left: inherit;
}
/* FC - Pledge Sheet Entry - Step 3
========================================================*/
.fc_pledgesheetentry.step3 .search_tab{
  margin-bottom: 15px;
}
.fc_pledgesheetentry.step3 .search_tab:nth-child(2){
  margin-top: 20px
}
.fc_pledgesheetentry.step3 .search_tab:first-child div:last-child img{
  width: 28px;
  margin-top: 10px;
  vertical-align: -7px;
}
.fc_pledgesheetentry.step3 .search_tab:nth-child(2) table{
  width: 100%;
  text-align: left;
}
.fc_pledgesheetentry.step3 .search_tab:nth-child(2) input[type=text]{
  width: 220px;
  margin:inherit;
}
.fc_pledgesheetentry.step3 a.back_teacher{
  float: none;
}
/* FC - Login First Time
========================================================*/
.fc_login_firsttime{
  margin: 40px 20px 15px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.fc_login_firsttime .fc_menu_login{
  width: 280px;
  margin-top: 40px;
}
.fc_login_firsttime .fc_menu_login ul{
  list-style: none;
}
.fc_login_firsttime .fc_menu_login ul li a{
  font-family: Rockwell;
  display: block;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding-left: 30px;
  background: url(../img/fc/bg_login_first.png) no-repeat;
  margin-bottom: 10px;
  padding: 23px;
}

.fc_login_firsttime .right{
  border-radius: 10px;
  background-color:  #ffffff;
  width: 648px;
  padding: 20px;
  font-family: Roboto;
  color:  #2f2f2f;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
}
.fc_login_firsttime .right .main_login_firsttime{
  border-style: solid;
  border-width: 10px;
  border-color:  #de9d12;
  background-color:  #0f7b35;
  min-height: 300px;
  position: relative;
  margin-top: 35px;
  padding: 20px 15px;
  color: #fff;
  font-weight: normal;
}
.fc_login_firsttime .right .main_login_firsttime .scotch_left,
.fc_login_firsttime .right .main_login_firsttime .scotch_right{
  position: absolute;
  top: -40px;
  left: -30px;
}
.fc_login_firsttime .right .main_login_firsttime .scotch_right{
  left: inherit;
  right: -30px;
}
.fc_login_firsttime .right .main_login_firsttime p.title_login_firsttime{
  font-family: Rockwell;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.fc_login_firsttime .right .main_login_firsttime form{
  margin-top: 20px;
}
.fc_login_firsttime .right .main_login_firsttime form p{
  margin: 15px auto 5px auto
}
.fc_login_firsttime .right .main_login_firsttime form input[type=text],
.fc_contact input,
.fc_contact textarea{
  border: 1px #e6e6e6 solid;
  background-color:  #fbfafa;
  width: 300px;
  height: 35px;
  vertical-align: bottom;
  padding-left: 5px;
}
.fc_login_firsttime .right .main_login_firsttime form input[type=radio]{
  margin-left: 30px;
  vertical-align: middle;
}
.fc_login_firsttime .right .main_login_firsttime form .style_select{
  width: 300px;
  background:#fbfafa url("../img/arrow_drop.png")no-repeat 264px 50%;
}
.fc_login_firsttime .right .main_login_firsttime form .double{
  display: inline-block;
}
.fc_login_firsttime .right .main_login_firsttime form .double [type=text]{
  width: 140px;
}
.fc_login_firsttime .right .main_login_firsttime form .double .style_select{
  width: 140px;
  height: 35px;
  background:#fbfafa url("../img/arrow_drop.png")no-repeat 104px 50%;
}
.fc_login_firsttime .right .main_login_firsttime form div .double:nth-child(1){
  margin-right: 15px;
}
.fc_login_firsttime .right .main_login_firsttime form input.double{
  width: 141px;
}
.fc_login_firsttime .right .main_login_firsttime form .add_login{
  margin: 10px 5px 0px 190px;
  color: #de9d12;
}
.fc_login_firsttime .right .main_login_firsttime form .add_login img{
  vertical-align: middle;
}
.fc_login_firsttime .right .main_login_firsttime form .capcha{
  width: 300px;
  color: #000;
}
.fc_login_firsttime .right .main_login_firsttime form .capcha>div{
  margin-left: 20px;
  margin-right: 80px;
}
.fc_login_firsttime .right .main_login_firsttime form input[type=button]{
  width: 300px;
  margin-top: 10px;
}
/* FC - Contact
========================================================*/
.fc_contact{
  margin-bottom: 40px;
}
.fc_contact input,
.fc_contact textarea{
  display: block;
  width: 515px;
  margin-bottom: 5px;
}
.fc_contact textarea{
  min-height: 120px;
}
.fc_contact div{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.fc_contact input[type=button]{
  color: #fff;
  background:#6bd04e;
  border-bottom: solid 3px #4a8c35;
  margin-right: 70px;
  float: right;
}
.fc_contact input[type=button]:hover,
.fc_contact input[type=button]:focus{
  border-bottom: none;
  border-top: solid 3px #4a8c35;
}
/* Asked
========================================================*/
.home .ask{
    margin-right: 20px;
}
.asked{
  font-family: Roboto; 
}
.asked .question{
  border-bottom: 2px solid #737272;
  margin-top: 30px;
  padding-bottom: 20px;
}
.asked .question .accordion-section-title,
.asked .question span{
  color: #F76108;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.asked .question .accordion-section-title{
  width: 570px;
  line-height: 1.5em;
  cursor: inherit;
}
.asked .question .answered{
  display: none;
  width: 570px;
  margin-top: 20px;
}
.asked .question .answered p,
.asked .question .answered a span{
  color: #31BDFF;
  font-size: 14px;
  line-height: 1.2em;
}
.asked .question .answered a span{
  font-size: 18px;
  margin-top: 20px;
  margin-left: 10px;
}
.rotate_asked{
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
/*========================================================
                    FOOTER styles
=========================================================*/
footer{
  padding: 0px 100px 15px;
  font-family: Rockwell;
  color:  #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
footer .main_footer{
  display: -webkit-flex;
  display: -mo-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
footer .main_footer div{
  display: inline-block;
}
footer .main_footer div img{
  margin-left: 20px;
}
footer .main_footer div p{
  display: inline-block;
  margin: -10px 0px 0px;
}
/*========================================================
										menu variables
=========================================================*/
@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 979px) {

}
@media only screen and (max-width: 767px) {
  
}