@charset "utf-8";
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import "../css/mb-menu.css";
/* CSS Document */
*{
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
  	border: 0;
     -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
body,div,p,form,input,select,option,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,address{
margin:0;
padding: 0;
font-size: 100%;
font-weight: normal;
font-style: normal;
line-height: 1.5;
font-family: Verdana  ,sans-serif;
border: none;
}

img {
	border:none;
    padding: 0;
    margin: 0;
}
ul {
	list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
table {
border-collapse:collapse;
border-spacing:0;
}
p {
font-size:1.2em;
}
.flex{
	display: flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.flex-inline{
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
}
.clear{
	clear: both;
	display: block;
}
body a{
	color: #000;
}
body a:hover{
	text-decoration: underline;
}
/*************************************************/
/**********************Header********************/
/************************************************/
header{
    background-color: #232426;
    width: 100%;
    padding: 0 60px;
}
header a{
	color: #fff;
}
header a:hover{
	text-decoration: none;
}
.solical{
    width: 100%;
    color: #bbb6b6;
    font-size: 17px;
    -webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
    padding: 7px 0px;
}
.solical span{
    margin: 0 5px;
}
.solical span span{
    font-size: 12px;
    vertical-align: 20%;
    margin-right: 25px
}
.box-menu{
    -webkit-justify-content: space-between;
	justify-content: space-between;
    border: none;
}
img.logo{
    width: 144px;
    height: 22px;
}
.menu li{
    display: inline-block;
    
}
.menu li a{
    color: #ffffff;
    font: italic 700 14px / 18px Verdana;
    display: inline-block;
    text-align: center;
    width: 130px;
    padding: 25px 0px;
    position: relative;
    z-index: 2;
    margin: 0 -3px;
     -webkit-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}
.menu li a:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    padding: 30px 0px;
    display: inline-block;
    background: url(images/Rectangle-2.png)no-repeat;
    -webkit-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}
.menu li a:hover:after,
.menu li a:focus:after{
    padding-bottom: 70px;
}
/*************************************************/
/**********************Slider**********************/
/************************************************/
.slider{

}
.slider>img{
    width: auto;
}
.directional{
    -webkit-justify-content: center; 
	justify-content: center;
    position: absolute;
    bottom: -15%;
    width: 100%;
    z-index: 1;
}
.box-btn a{
	color: #fff;
}
.box-btn a:hover,
.btn:hover{
	text-decoration: none;
}
.box-rel{
    position: relative;
}
.directional .box-rel:nth-child(2){
    margin: 0px 50px;
}
.directional .box-rel img{
	width: 290px;
	height: 225px;
    box-shadow: 2px 4px 5px 0.00px rgba(0, 0, 0, 0.75);
}
.directional .box-btn{
    position: absolute;
    top: 46%;
    width: 100%;
    text-align: center;
    z-index: 2;
}
.directional .box-btn a{
    font: 700 14px / 18px Verdana;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
   position: relative;
}
.directional .box-btn a:before {
   content: '';
   position: absolute;
   border: 2px solid #fff;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   -webkit-animation-duration: 0.8s;
   animation-duration:.8s;
}
.directional .box-rel:after{
    content: "";
    -webkit-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    top:100px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.directional .box-rel:hover:after{
    background: rgba(0, 0, 0, 0.75);
    top: 50%;
    left:50%;
    right: 50%;
    bottom: 50%;
    z-index: 1;
}
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
  }
}
.directional .box-rel:hover a:before, 
.directional .box-rel:focus a:before, 
.directional .box-rel:active a:before{
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;

}
/*************************************************/
/*********************Footer**********************/
/************************************************/
footer{
    background: #000000;
    padding: 20px;
	margin-top: 5%;
}
footer p{
    font: italic 700 14px / 18px Verdana;
    color: #575f61;
}
.home footer{
	width: 100%;
	position: fixed;
	bottom: 0;
}
/*************************************************/
/*********************Contents********************/
/************************************************/

/*********************Sell Page********************/
.search{
   position: relative;
   margin-bottom: 20%;
}
.search>img{
    width: 100%;
}
.search-frm form{
    position: absolute;
    width: 768px;
    background: #fff;
    left: 28%;
    bottom: -30%;
    padding: 40px 30px;
    box-shadow: 2px 2px 2px 0.00px rgba(0, 0, 0, 0.75)
}
label{
    font: 400 12px / 18px Verdana;
}
.double{
    -webkit-justify-content: space-between;
	justify-content: space-between;
}
.box-input{
    margin-top: 5px;
    
}
input{
    width: 320px;
    background-color: #d7d7d7;
    height: 38px;
    display: block;
}
.btn{
    border: #f6c452 solid 5px;
    color: #000000;
    font: 700 18px / 18px Verdana;
    padding: 10px 25px;
    margin: 30px 0px 0px;
    display: inline-block;
  	position: relative;
	z-index: 1;
	background:transparent;
}
.btn:after{
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
	-webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  color: #f6c452;
	border: #fff solid 5px;
}
.btn:hover:after {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background:#f6c452;
}
section.tab3{
    display: block;
	width: 1200px;
	margin: auto;
	padding-left: 2%;
}
.article{
    width: 256px;
    display: block;
    margin-bottom: 30px;	
	margin-left: 40px
}
 .article:first-child,
section.tab3.rent .article:nth-child(4n+1){
	margin-left: 0px;
}
article header{
    background: transparent;
    padding: inherit;
    margin-bottom: 20px;
}
.tab-row {
    -webkit-flex-wrap: wrap; 
	flex-wrap: wrap;
}
h1{
    font: 700 30px / 40px Verdana;
    display: inline-block;
    border-bottom: 2px solid #f6c452;
    padding-bottom: 15px;
}
h2{
    font: 700 18px / 18px Verdana;
    margin-bottom: 5px;
}
.info-img{
    position: relative;
}
.price{
	position: absolute;
	bottom: 20px;
    right: -2px;
}
.price span{
    font: 700 14px / 18px Arial;
    color: #ffffff;
	background: #e9a200;
    display: block;
    padding: 5px 10px;
    position: relative;
	overflow: hidden;
}
.price span:before{
	content: "";
	display: inline-block;
	position: absolute;
	background: #000;
	width: 100%;
	top: 0;
	right: -100%;
	bottom: 0;
	 -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
.info-img>a:hover .price span{
	z-index: 2;
}
.info-img>a:hover .price span:before{
	right: 0%;
	z-index: -1;
}
.info{
    border-bottom: #f6c452 1px solid;
    -webkit-justify-content: space-between;
	justify-content: space-between;
    padding-bottom: 3px;
    margin-bottom: 3px;
}
.info p{
    display: inline-block;
    font: 400 14px / 18px Arial;
    vertical-align:text-top;
}
.info span{
    font-size: 18px;
}
.font14{
    font-size: 14px !important;
    padding-top: 2px;
}
.tab3.sell{
	margin-top: 50px;
}
.tab3.sell .tab-row:last-child{
	margin-bottom: 50px;
}
.tab3.sell h2,
.rent-page .tab3 h2{
	width: 160%;
}
.article.sell{
	width: 550px;
	margin-top: 25px
}
.info-text{
	font: 400 12px / 18px Verdana;
	text-align: justify;
	height: 200px;
	overflow: hidden;
}
.info-sell{
	margin-top: 30px;
}
.sell .info-img img{
	width:100%;
}
/*******************Rent****************/
.content{
	width: 1200px;
	margin: 0 auto;
}
.content section.tab3{
	margin: inherit;
}
.left{
	width: 850px;
}
.left .article{
	width:800px;
}
.content .price{
	z-index:1;
	font: 700 30px / 18px Arial;
	position: absolute;
	bottom: 40px;
	color: #ffffff;
	background: #e9a200;
    display: block;
    padding: 15px 20px;
}
.right{
	width: 400px;
}
.right .time{
	margin:70px auto;
	border: none;
}
.news{
	margin-top: 200px;
}
.news hr{
	border-top: 1px solid #f6c452;
	margin: 0px 20%;
}
hr.dotted{
	border-top: 1px #f6c452 dashed;
	margin: 10px 0px;
}
.news-other{
	margin-top: 70px;
}
.box-news-other{
	margin-top: 15px;
	margin-bottom:50px;
}
.box-news-other .thumb-news{
	width:100%;
	margin-top: 3%;
}
.box-news-other .btn{
	width: 50%;
	display: block;
	text-align: center;
	margin:0 auto;
}
.news-other h4{
	display: block;
}
.news-other .news-list{
	margin-top: 1%;
}
.news-other-info{
	width: 100%;
	margin-left: 10px;
	font: 400 8px / 14px Arial;
}
h3{
	font: 700 18px / 18px Verdana;
	display: inline-block;
	padding: 12px 15px 10px;
	background-color: #f6c452;
	color: #000;
}
h4{
 font: 700 12px / 18px Verdana;
}
.line-h3{
	border-bottom: 2px #f6c452 solid;
}
.news-list{
	margin: 15px 0px;
	color: #000000;
	display: inline-flex;
}
.thumb-news{
	height: 80px !important;
	width:140px;
	overflow: hidden;
}
.news-img{
	width:100%;
}
.news-text{
	font: 400 10px / 18px Verdana;
	margin-left: 10px;
}

.news-time{
	font: italic 9px / 18px Verdana;
}
.thumb-news .thumb_overlay:before{
	content: '';
}
/*****************Slider************/
/*.thumb.info-img{
	width: 800px;
	height: 550px;
}*/
.slider-big{
	display: block;
    width: 800px;
    overflow: hidden;
}
.slider-small{
	margin-top: 1%;
}
.slider-small a{
	width: 25%;
	/*height: 100px;*/
	margin-left: 1%;
}
.slider-small a:first-child{
	margin-left: inherit;
}
.slider-small a img{
	width: 100%;
	/*height: 100px;*/
}
.thumb,
.thumb-news{
  position: relative;
  font-size: 36px;
  color: #fff;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.thumb img,
.thumb-news img{
  transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
 .thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
}
.thumb_overlay:before {
  content: "\f002";
  font: 400 44px FontAwesome;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.thumb:hover img,
.thumb-news:hover img{
  opacity: 0.6;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.thumb:hover .thumb_overlay:before,
.thumb-news:hover .thumb_overlay:before{
  opacity: 1;
}
.thumb:hover .thumb_overlay,
.thumb-news:hover .thumb_overlay{
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
  background: rgba(233, 162, 0, 0.35) none repeat scroll 0% 0%;
}
.box-slider a{
	display: inline-block;
}
/****************************************************************/
.tab-page {
	margin-top: 20px;
	font: 400 12px / 18px Verdana;
	position: relative;
}
.tab-page  h3{
	background: transparent;
}
#container {
	width: 100%;
    margin: 0 auto;
}
.tab-page #container input {
	height: 2.5em;
    visibility: hidden;
    width: 0px;
    display: inline-block;
}
.tab-page #container label {
	cursor: pointer;
	display: block;
	float: left;
	text-align: center;
}
.tab-page #container input:hover + label {
	background: #e9a200;  
	color: #fff;  
}
.tab-page #container input:checked + label {
	background: #f6c452;
	position: relative;
	z-index: 6;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
}
.tab-page #content {
	/*border-radius: 0 .25em .25em .25em;*/
	min-height: 20em;
	position: relative;
	width: 100%;
	border-top: 2px #f6c452 solid;
	margin-top: 4px;
	padding: 20px 0px;
	clear: both;
}
.tab-page #content div {
	opacity: 0;
	text-align: justify;
	/*padding: 1.5em;
	position: absolute;
	z-index: -100;*/
	display: none;
	transition: all linear 0.1s;
}
.tab-page #container input#tab-1:checked ~ #content #content-1,
.tab-page #container input#tab-2:checked ~ #content #content-2,
.tab-page #container input#tab-3:checked ~ #content #content-3,
.tab-page #container input#tab-4:checked ~ #content #content-4,
.tab-page #container input#tab-5:checked ~ #content #content-5,
.tab-page #container input#tab-6:checked ~ #content #content-6{
    opacity: 1;
	display: block;
}
.tab-page input.visible {
  visibility: visible !important;
}